<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>卖家入驻</title>
    @@include('../include/common/meta.html')
    @@include('../include/common/scripts.html')
    <link rel="stylesheet" href="/styles/module/activity/findgoods.css"/>
</head>
<body>
    <div ms-controller="headerCtrl">
        @@include('../include/common/header-top.html')
        @@include('../include/common/header-search.html')
        @@include('../include/common/header-nav.html')
    </div>
    <div style="position:relative; background-color:#f61f49; text-align:center; min-width:1200px; height:1354px; overflow:hidden;">
        <img src="/images/activity/mjrz.png" alt="" style="position:absolute; top:0; left:50%; margin-left:-960px;">
        <a href="http://form.mikecrm.com/9BCw6N" style="position: absolute; top: 990px; left:50%; margin-left:-110px;"><img src="/images/activity/mjrz-btn.png" alt="立即入驻"/></a>
    </div>

    @@include('../include/common/footer.html')
</body>
</html>
