<!DOCTYPE html>
<html> 
<head lang="en">
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <title>需求单详情</title>
    @@include('../../include/common/meta.html')
    @@include('../../include/common/common-include.html') 

    <link rel="stylesheet" type="text/css" href="/styles/module/index/details.css"> 
    <script src="/scripts/module/index/details.js"></script>
</head>

<body ms-controller="detailsCtrl">
    @@include('../../include/common/header.html')
    @@include('../../include/common/account-head.html')
    <!--主要内容-->
    <div class="g-content g-clearfix">
        <div class="content-head">
            <div class="module-title">
                <div><span>需求单详情</span></div>
            </div>
        </div>
        <div class="detail-table-panel">
            <div class="order-table-wrap">
                <div class="detail-title">
                    <div class="detail-title1">
                        <span>找货单单号：</span><span ms-text="dataList.sn"></span>
                    </div>
                    <div class="detail-title2" style="">
                        <!--<span>完成度：</span><span ms-text="dataList.progress"></span><span style="color:red;margin-left:20px;" ms-text="dataList.requireStatusDesc"></span>-->
                        <span>状态：</span><span style="color:red;margin-left:20px;" ms-text="dataList.requireStatusDesc"></span>
                        <button ms-if="dataList.requireStatus != 2" ms-click="closeRequirement" type="button" class="add_btn">关闭需求单</button>
                    </div>
                </div>
                <div class="detail-query-conditions" style="clear:both">
                    <div class="detail-condition">
                        <span>名称：</span><span ms-text="dataList.name"></span>
                    </div>
                    
                    <div class="detail-condition">
                        <span>电话：</span><span ms-text="dataList.mobile"></span>
                    </div>
                    <div class="detail-condition">
                        <span>来源：</span><span ms-text="dataList.sourceDesc"></span>
                    </div>
                    <div class="detail-condition">
                        <span>类型：</span><span ms-text="dataList.typeDesc"></span>
                    </div>
                    <div class="detail-condition">
                        <span>创建者：</span><span ms-text="dataList.createName"></span>
                    </div>
                </div>
                <div class="detail-query-conditions" style="clear:both">
                    <div class="detail-condition" style="width:400px">
                        <span>地址：</span><span ms-text="dataList.address"></span>
                    </div>
                    <div class="detail-condition">
                        <span>备注：</span><span ms-text="dataList.remarks"></span>
                    </div>
                    <div class="detail-condition" style="width:400px">
                        <span>买家备注：</span><span ms-text="dataList.buyerRemarks"></span>
                    </div>
                    
                </div>

                <div class="order-block" style="clear:both">
                    <div class="return-detail-row">
                        <div class="uploaded-image-panel">
                            <div class="upload-image-col" ms-repeat="dataList.resourceList">
                                <div class="image-div">
                                    <img ms-if="el.type != 1" ms-attr-src="el.resources" />
                                    <a ms-if="el.type == 1" ms-href="el.resources"><img src="/images/common/download.png" /></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div style="height:30px;clear:both"></div>
                <div class="detail-query-conditions" style="clear:both">
                    <div class="detail-condition" style="width:80px;">
                        <span ms-click="checkall()" class="f-ib m-checkbox checkbox-fix" style="cursor: pointer;">
                            <strong ms-if="allstatus" ms-class="m-checkbox-icon m-checkbox-icon-checked"></strong>
                            <strong ms-if="!allstatus" ms-class="m-checkbox-icon"></strong>
                        </span>
                        <span>全选</span>
                    </div>
                    <div class="detail-condition">
                        <span><button ms-click="offer" type="button" class="query_btn">生成报价链接</button></span>
                    </div>
                    <div class="detail-condition">
                        <span><button ms-click="survey" type="button" class="query_btn">生成询价链接</button></span>
                    </div>
<!--
                    <div class="detail-condition" style="float:right;text-align:right">
                        <span><button ms-click="matchmaking" type="button" class="add_btn">选中生成撮合交易</button></span>
                    </div>
-->                    
                </div>

                <div class="detail-table" ms-repeat="dataList.requireItemList">
                    <table cellpadding="0" width="100%" style="background:#fafafa;">
                        <!--表单头部-->
                        <tr class="order-table-top">
                            <th width="15%">
                                品牌
                            </th>
                            <th width="15%">
                                品名
                            </th>
                            <th width="20%">
                                型号
                            </th>
                            <th width="15%">
                                数量
                            </th>
                            <th width="20%">
                                单位
                            </th>
                            <th width="15%">
                                分类
                            </th>
                        </tr>
                        <!--商品一行-->
                        
                        <tr>
                            <!--品牌-->
                            <td>
                                <span ms-text="el.brandName"></span>
                            </td>
                            <td>
                                <span ms-text="el.itemName"></span>
                            </td>
                            <!--型号-->
                            <td>
                                <span type="text" ms-text="el.skuSnSet"></span>
                            </td>
                            <!--数量-->
                            <td>
                                <span type="text" ms-text="el.requiredQuantity"></span>
                            </td>
                            <!--单位-->
                            <td>
                                <span type="text" ms-text="el.unit"></span>
                            </td>
                            <!--销售价-->
                            <td>
                                <span type="text" ms-text="el.category"></span>
                            </td>

                        </tr>
                    </table>
                    <div ms-if="el.itemOfferList" class="detail-title" style="padding:20px 0px 20px 20px;margin:0px;height:2em">
                        <div class="detail-title1">
                            <span>匹配商品详情</span>
                        </div>
                    </div>
                    <table cellpadding="0" width="100%">
                        <!--表单头部-->
                        <tr class="order-table-top" ms-if="el.itemOfferList">
                           <th width="5%">
                                
                            </th>
                            <th width="5%">
                                品牌
                            </th>
                            <th width="10%">
                                品名
                            </th>
                            <th width="5%">
                                型号
                            </th>
                            <th width="10%">
                                店铺
                            </th>
                            <th width="10%">
                                供应商
                            </th>
                            <th width="5%">
                                单位
                            </th>
                            <th width="10%">
                                销售价
                            </th>
                            <th width="10%">
                                采购价
                            </th>
                            <th width="10%">
                                货期
                            </th>
                            <th width="10%">
                                备注
                            </th>
                            <th width="10%">
                                买家反馈
                            </th>
                        </tr>
                        <tr ms-if="el.itemStatus == 6">
                            <td colspan="6" style="text-align:left;text-indent:2em">
                                处理结果：<span style="color:red">无法处理</span>
                            </td>
                            <td colspan="6" style="text-align:left;text-indent:2em">
                                原因：<span style="color:red" ms-text="el.reason"></span>
                            </td>
                        </tr>
                        
                        <!--商品一行-->
                        <tr ms-if="el.itemOfferList" ms-repeat-offer="el.itemOfferList">
                            <!--品牌-->
                            <td>
                                <span ms-if="offer.goodsId&&((offer.shopId=='1'&&offer.supplierId)||(offer.shopId&&offer.shopId!='1'))" ms-click="checkout($outer.$index,$index,status)" class="f-ib m-checkbox checkbox-fix" style="cursor: pointer;">
                                    <strong ms-if="offer.status" ms-class="m-checkbox-icon m-checkbox-icon-checked"></strong>
                                    <strong ms-if="!offer.status" ms-class="m-checkbox-icon"></strong>
                                </span>
                            </td>
                            <td>
                                <span ms-text="offer.brandName"></span>
                            </td>
                            <td>
                                <span ms-text="offer.itemName"></span>
                            </td>
                            <!--型号-->
                            <td>
                                <span type="text" ms-text="offer.skuSnSet"></span>
                            </td>
                            <!--数量-->
                            <td>
                                <span type="text" ms-text="offer.shopName"></span>
                            </td>
                            <td>
                                <span type="text" ms-text="offer.supplierName"></span>
                            </td>
                            <!--单位-->
                            <td>
                                <span type="text" ms-text="offer.unit"></span>
                            </td>
                            <td>
                                <div class="table-condition">
                                    ￥ <input type="text" ms-duplex="offer.salePrice">
                                </div>
                                
                            </td>
                            <td>
                                ￥ <span type="text" ms-text="offer.purchasePrice"></span>
                            </td>
                            <td>
                                <span type="text" ms-text="offer.shipMin + '-' + offer.shipMax + '天'"></span>
                            </td>
                            <!--销售价-->
                            <td>
                                <span type="text" ms-text="offer.remarks"></span>
                            </td>
                            <td>
                                <span type="text" ms-text="offer.buyerFeedbackDesc"></span>
                            </td>
                        </tr>
                    </table>

                    

                </div>
                <div style="height:30px;clear:both"></div>
            </div>
            
        </div>
    </div>
    <div id="alertDialogCtrlId" ms-widget="dialog,alertDialogCtrlId,$alertDialogOption">
        <p>{{message}}</p>
        <button type="button" id="closeAlertBtn" name="closeAlertBtn" ms-click="onCloseAlert" style="margin-top: 30px;margin-left: 70px;margin-bottom: 20px;width: 120px;height: 30px;">确定</button>
    </div>       
    @@include('../../include/common/footer.html')
</body>

</html>
