@charset "UTF-8";
@import "../../common/scaffolding";

.order-list{
    .search{
      margin-top:20px;

      .title{
        height: 36px;
        line-height: 36px;
        font-size: 12px;
        color: #333333;
        text-align: center;
      }
      .btn {
        width: 150px;
      }

      .inputbox{
        height: 34px;
        line-height: 34px;
        width: 178px;
        text-indent: 5px;
        //去除select圆角
        border: 0px;
        outline: 1px solid rgb(204,204,204);
      }
      .inputbox-main{
        width: 90%;
      }

      .cbox{
        height: 36px;
        line-height: 36px;
        text-align:right;
      }

      .search-btn{
        height:40px;
        line-height:40px;
        width:178px;
        font-size: 14px;
        font-weight: bold;
        text-align:center;
        color: #fff;
        background-color: #e33333;
        margin-left:80px;
      }
    }

    .ctable{
      width:950px;
      margin-top:50px;
      margin-bottom:30px;
      position: relative;
      color: #666;

      .ctr{
        height:44px;
        line-height:44px;
        border-bottom:1px solid #e0e0e0;
      }
      td{
        text-align:center;
      }

      .cell-empty {
        padding: 5em;
        text-align: center;
        border-bottom: 1px solid #eee;
      }

      .thb{
        border-bottom:2px solid #e0e0e0;
      }
      .tr-bg{
        background-color: #f3f3f3;
      }
      .link{
        color:lightskyblue;
      }
      .loading-wrapper{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(204, 204, 204, 0.35);
      }
    }
    .empty-tip{
      line-height: 115px;
      padding-left: 50px;
    }

}

.es-body{
  .inputbox{
    height: 34px;
    line-height: 34px;
    width: 178px;
    text-indent: 5px;
    border: 0px;
    outline: 1px solid rgb(204,204,204);
  }
  .input-error,.error-tip{
    color: #e33333;
    &:before{
      content: '*';
    }
  }
}