.g-head{
    border-bottom: 2px solid #382223;
}
.g-content{
    width: 1200px;
    margin: 40px auto 80px;
    font-family: "Microsoft YaHei";
}
.order-table-wrap{
    width: 100%;
}
.order-table-title{
    height: 43px;
    width: 100%;
    line-height: 43px;
    background-image: url(/images/order/order_step_three_bg.png);
    background-position: 150px top;
    background-repeat: no-repeat;
    background-color: #ccc8c6;
}
.order-table-span{
    width: 172px;
    height: 43px;
    line-height: 43px;
    text-align: center;
    font-size: 14px;
    color: #333;
}
.order-table-span-last{
    width: 140px;
    height: 43px;
    line-height: 41px;
    text-align: center;
    font-size: 14px;
    color: #333;
}
.order-table-wrap em{
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    text-align: center;
    background-color: #746565;
    margin-left: -30px;
    font-size: 14px;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.order-table-span-last em{
    margin-left: -60px;
}
.order-table-span-active{
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}
.order-table-span-active em{
    background-color: #e83637;
}
.m-order-table-bottom{
    margin-top: 1px;
    height: 54px;
    line-height: 54px;
    background-color: #e0dcda;
}
.sub-order-btn{
    background-image: url(..//images/order/order_post_btn_bg.gif);
    background-repeat: no-repeat;
    background-position: right top;
    width: 156px;
    height: 54px;
    line-height: 54px;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.sub-order-bottom-total{
    font-size: 14px;
    color: #585858;
    margin-right: 20px;
    line-height: 60px;
}
.order-block{
    border: 1px solid #dad6d4;
    border-top: 0;
    padding-top: 20px;
}
.order-block-title{
    height: 20px;
    font-size: 14px;
    line-height: 22px;
    color: #585858;
}
.order-block-title em{
    height: 22px;
    width: 10px;
    background-color: #5b534e;
    margin-right: 14px;
}
.order-invoice-table{
    width: 470px;
    margin: 24px auto 46px;
}
.order-invoice-table td{
    font-size: 14px;
    color: #333;
    text-align: right;
    padding: 5px;
}
.order-invoice-table .table-text-left{
    text-align: left;
}
.order-invoice-table input{
    height: 38px;
    width: 378px;
    border: 1px solid #afaaa7;
    text-indent: 10px;
    outline: none;
}
.sub-order-bottom-money{
    font-size: 14px;
    color: #585858;
    margin-right: 15px;
}
.order-success{
    height: 58px;
    margin: 20px 0 40px 26px;
    background-image: url(/images/common/common_duihao_icon_big.png);
    background-position: left top;
    background-repeat: no-repeat;
    padding-left: 70px;
}
.order-success-top{
    height: 32px;
    line-height: 32px;
    font-size: 24px;
    color: #333;
    font-weight: normal;
}
.order-success-bottom{
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    color: #333;
    font-weight: normal;
}
.order-success-bottom em{
    color: #e83637;
}
.order-success-bottom a{
    color: #e83637;
}
.order-success-bottom a:hover{
    text-decoration: underline;
}