@charset "UTF-8";

.btn {
    // @include border-radius(3px);
    @include box-sizing(border-box);
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 0.5em 1em;
    text-align: center;
    cursor: pointer;
    &-large {
        font-size: 14px;
        padding: 10px 60px;
    }
    &-default {
        background: #fff;
        color: #333;
        border: 1px solid #ccc;
        &:hover {
            background-color: darken(#fff, 10%);
        }
        &:active {
            box-shadow: inset 1px 1px 2px darken(#fff, 20%);
            background-color: darken(#fff, 10%);
        }
    }
    &-primary {
        background: #e83637;
        color: #fff;
        border: 1px solid #e83637;
        &:hover {
            background-color: darken(#e83637, 10%);
        }
        &:active {
            box-shadow: inset 1px 1px 2px darken(#e83637, 20%);
            background-color: darken(#e83637, 10%);
        }
    }
    &.disabled {
        cursor: default;
        @include opacity(60);
        &:hover {
            background-color: #fff;
        }
        &:active {
            box-shadow: none;
            background-color: #fff;
        }
    }
}

.btn-group {
    .btn-link {
        cursor: pointer;
        float: left;
        margin-right: 0.5em;
    }
}