<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>关于认证会员</title>
    @@include('../../include/common/common-include.html')
    <link rel="stylesheet" href="/styles/module/protocol/protocol.css"/> 
</head>
<body>
    @@include('../../include/common/header.html')
<div class="g-wrap">
    <div class="content-head">
        <div class="m-public-logo f-fl">
            <a href="/"></a>
        </div>
        <div class="content-head-text f-fl">
            关于认证会员
        </div>
        <div class="content-head-call f-fr"></div>
        <div class="clear"></div>
    </div>
</div>
<div class="m-p-content">
    <div class="content-body-head">认证会员说明</div>
    <p class="MsoNormal">
        <span></span>
    </p>
     <p class="content"  >
       <br><br> <span  style=" font-size: 12pt;font-weight: bold;">1.什么是认证会员？</span><br>
        <span  style=" font-size: 10pt; "><br>
           &nbsp;&nbsp; &nbsp;认证会员是专门针对长期为终端用户提供产品和服务的企业或商户<br>
          &nbsp;&nbsp;&nbsp;  比如，您是：销售门店、做单公司、都是我们希望招募的对象
        </span>
        <br>
       <br>  <span  style=" font-size: 12pt;font-weight: bold;">2.为什么要成为我们的认证会员？</span><br>
        <span style=" font-size: 10pt;"><br>
        &nbsp;&nbsp;&nbsp;   -为认证会员指定专属价格，保证认证会员价格优势<br>
         &nbsp;&nbsp;&nbsp;  -正品保障<br>
       &nbsp;&nbsp;&nbsp;    -快捷发货<br>
       &nbsp;&nbsp;&nbsp;    -全品类采购<br>
      &nbsp;&nbsp;&nbsp;     -完整的售后体系方心采购
        </span><br>
       <br>   <span  style=" font-size: 12pt;font-weight: bold;">3.如何成为我们的认证会员？</span><br>
        <span style=" font-size: 10pt;"><br>
       &nbsp;&nbsp;&nbsp;    注册成为佰万仓的会员-提交材料-审核通过-成为认证会员
        </span>
    </p>
    
    <p class="m-p-bottom" style=" height: 150px; padding-top: 100px;">
        <a href="/wholesale.html" style=" color:#000000;    line-height: 45px;     font-size: 16px;   font-family: 'microsoft yahei';   text-align: center;   cursor: pointer;   border-radius: 3px;   -webkit-border-radius: 3px;   background-color: #F3F4F8;     text-decoration: none;  padding: 10px 40px 10px 40px;">
            我知道了，先不注册
        </a>
        <a href="corpInfo.html"  style="  color: #FFFFFF;   line-height: 45px; font-size: 16px;   font-family: 'microsoft yahei';   text-align: center;   cursor: pointer;   border-radius: 3px;   -webkit-border-radius: 3px;   background-color: #e83637;     text-decoration: none;    padding: 10px 40px 10px 40px; margin-left:80px;" >
            申请成为认证会员
        </a>
    </p>
</div>
    @@include('../../include/common/footer.html')
</body>
</html>