<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>完成</title>
    @@include('../../include/common/common-include.html')
    <link rel="stylesheet" href="/styles/module/member/reset-success.css"/>
</head>
<body>
    <div class="main mod-register">
        <div class="main_content">
            @@include('../../include/common/member-reset-header.html')
            <div class="center">
                <div class="flow">
                    <div class="progress"><div class="progress_bar step3"></div></div>
                    <ul>
                        <li>
                            <div class="step checked">
                                <div class="step_bg">
                                    <span class="step_num">1</span>
                                </div>
                                <div>
                                    <span class="text">确认账号</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="step checked">
                                <div class="step_bg">
                                    <span class="step_num">2</span>
                                </div>
                                <div>
                                    <span class="text">修改密码</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="step checked">
                                <div class="step_bg">
                                    <span class="step_num">3</span>
                                </div>
                                <div>
                                    <span class="text">完成</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="layout-center">
                    <div class="layout-center_reset">
                        <div class="tips">
                            <img src="/images/member/lock.png" alt="" />
                            <h2>恭喜，您的密码修改成功！</h2>
                            <p>请妥善保管好您的新密码</p>
                        </div>
                        <div class="btn-group">
                            <a href="/index.html" class="btn">立即登录</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                版权所有@2015 佰万仓网络科技有限公司&nbsp;&nbsp;
                <a class="link" target="_blank" href="/images/index/zhizhao.jpg">沪ICP备15032859号-1
                    <img class="f-ib" src="/images/common/icp_icon.png" alt="ICP"/>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
