<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>重置成功</title>
    @@include('../../include/common/common-include.html')
    <link rel="stylesheet" href="/styles/module/member/auditing.css"/>
</head>
<body ms-controller="auditingCtrl">
    <div class="main mod-register mod-auditing">
        <div class="main_content">
            @@include('../../include/common/member-header.html')
            <div class="center">
                <div class="flow">
                    <div class="progress"><div class="progress_bar step3"></div></div>
                    <ul>
                        <li>
                            <div class="step checked">
                                <div class="step_bg">
                                    <span class="step_num">1</span>
                                </div>
                                <div>
                                    <span class="text">设置登录名</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="step checked">
                                <div class="step_bg">
                                    <span class="step_num">2</span>
                                </div>
                                <div>
                                    <span class="text">完善用户信息</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="step checked">
                                <div class="step_bg">
                                    <span class="step_num">3</span>
                                </div>
                                <div>
                                    <span class="text">等待佰万仓审核</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="step">
                                <div class="step_bg">
                                    <span class="step_num">4</span>
                                </div>
                                <div>
                                    <span class="text">完成</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="layout-center">
                    <div class="layout-center_reset">
                        <div class="tips">
                            <img src="/images/member/bg_note.png" alt="" />
                            <h2>恭喜，您已经成功提交认证申请！</h2>
                            <p>为了保障佰万仓用户的权益，我们将会对您提交的材料进行审核。</p>
                            <p>佰万仓专业顾问会在最短时间内与您联系，如果您急需审核请扫码关注！</p>
                            <img class="sqcode" src="/images/member/qr.png" alt="" />
                        </div>
                        <div class="btn-group">
                            <a href="/index.html" class="btn">去商城逛逛</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                版权所有@2015 佰万仓网络科技有限公司&nbsp;&nbsp;
                <a class="link" target="_blank" href="/images/index/zhizhao.jpg">沪ICP备15032859号-1
                    <img class="f-ib" src="/images/common/icp_icon.png" alt="ICP"/>
                </a>
            </div>
        </div>
    </div>
    <script src="/scripts/module/member/auditing.js"></script>
</body>
</html>
