 <!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>注册成功</title>
    @@include('../../include/common/common-include.html')
    <link rel="stylesheet" href="../styles/module/member/success.css"/> 
</head>
<body>
    @@include('../../include/common/header.html')

<div class="g-content">
    <div class="content-head">
        <div class="m-public-logo f-fl">
            <a href="http://www.bwcmall.com"></a>
        </div>
        <div class="content-head-text f-fl">
            注册成功
        </div>
        <div class="content-head-call f-fr"></div>
        <div class="clear"></div>
    </div>
    <div class="content-body">
        <div class="content-left f-fl">
            <div class="content-step-line-top">
            </div>
            <div class="content-step-block a-fadein">
                <span class="step-block-one f-ib"></span>
                <span class="step-block-text f-ib">提交用户信息</span>
            </div>
            <div class="content-step-line"></div>
            <div class="content-step-block a-fadein">
                <span class="step-block-two step-block-two-active f-ib"></span>
                <span class="step-block-text step-block-text-active f-ib">注册成功</span>
            </div>

        </div>
        <div class="content-right f-fr">
            <div class="regist-third a-fadein">
                <div class="regist-third-blcok regist-third-title">注册成功！</div>
                <div class="regist-third-block">
                    <span class="regist-third-span f-ib">您可以到商城选购所需产品</span>
                    <span class="regist-third-span f-ib">
                        <a href="/protocol/corpProtocol.html">或者 我想成为服务商</a>
                    </span>
                </div>
                <div class="regist-third-block">
                        <a href="/wholesale.html" class="trans_link_3 contact-sonsult">去商城逛逛</a>
                </div>
            </div>
        </div>

        <div class="clear"></div>
    </div>
    <div class="content-bottom-line"></div>
</div>

    @@include('../../include/common/footer.html')
   <script src="../scripts/module/member/success.js"></script> 
</body>
</html>

