<link rel="stylesheet" href="/styles/common/footer.css"/>
<div class="g-footer">
    <div class="g-footer-inner">
        <div>
            <a href="/" class="footer-logo"><img src="/images/index/footer-logo.png" alt=""></a>
            <div class="footer-head">
                <div class="footer-list f-fl">
                    <div class="footer-list-title">关于佰万仓</div>
                        <ul>
                            <!--<li class="footer-item"><a href="/about/about.html" target="_blank">关于我们</a></li>-->
                            <li class="footer-item"><a href="/about/event-chronicle.html" target="_blank">发展经历</a></li>
                            <li class="footer-item"><a href="/about/industry-status.html" target="_blank">行业现状</a></li>
                            <li class="footer-item"><a href="/about/contact.html" target="_blank">联系我们</a></li>
                        </ul>
                    </div>
                    <div class="footer-list f-fl">
                        <div class="footer-list-title">用户指南</div>
                        <ul>
                            <li class="footer-item"><a href="/help/registAudit.html" target="_blank">注册和购物</a></li>
                            <li class="footer-item"><a href="/help/oderRules.html" target="_blank">订单状态</a></li>
                        </ul>
                    </div>
                    <div class="footer-list f-fl">
                        <div class="footer-list-title">如何支付</div>
                        <ul>
                            <li class="footer-item"><a href="/help/payMethod.html" target="_blank">支付方式</a></li>
                            <li class="footer-item"><a href="/help/paymentQuestion.html" target="_blank">支付常见问题</a></li>
                            <li class="footer-item"><a href="/help/corpBank.html" target="_blank">企业网银</a></li>
                            <!--<li class="footer-item"><a href="/help/personBank.html" target="_blank">个人网银</a></li>-->
                            <!-- <li class="footer-item"><a href="/help/pointRule.html" target="_blank">仓豆使用说明</a></li> -->
                        </ul>
                    </div>
                    <div class="footer-list f-fl">
                        <div class="footer-list-title">配送政策</div>
                        <ul>
                            <li class="footer-item"><a href="/help/distributPolicy.html" target="_blank">配送政策</a></li>
                        </ul>
                    </div>
                    <div class="footer-list f-fl">
                        <div class="footer-list-title">售后服务</div>
                        <ul>
                            <!-- <li class="footer-item"><a href="/help/saleNetwork.html" target="_blank">取消订单</a></li> -->
                            <li class="footer-item"><a href="/help/returnPolicy.html" target="_blank">如何退换货</a></li>

                        </ul>
                    </div>
                    <div class="footer-list f-fl">
                        <div class="footer-list-title">商业合作</div>
                        <ul>
                            <!--<li class="footer-item"><a href="/member/registInstruction.html" target="_blank">申请成为认证会员</a></li>-->
                            <li class="footer-item"><a href="http://form.mikecrm.com/9BCw6N" target="_blank">供应商入驻</a></li>
                        </ul>
                    </div>
                <div class="clear"></div>

            </div>
            <div class="footer-code">
                <img src="/images/index/footer-code.jpg" alt="">
                <p>扫码关注微信公众号</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="footer-bottom">
            版权所有@2015 佰万仓网络科技有限公司&nbsp;&nbsp;
            <a class="f-ib" target="_blank" href="/images/index/zhizhao.jpg">沪ICP备15032859号-1
                <img class="f-ib" src="/images/common/icp_icon.png" alt="ICP"/>
            </a>
        </div>
    </div>
</div>

@@include('side.html')
<!--GA统计代码 add by jason@20151102-->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-69473759-1', 'auto');
    ga('send', 'pageview');
</script>
<script type='text/javascript'>
      var _vds = _vds || [];
      window._vds = _vds;
      (function(){
        _vds.push(['setAccountId', 'b4056d5b2c117a6a']);
        (function() {
          var vds = document.createElement('script');
          vds.type='text/javascript';
          vds.async = true;
          vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(vds, s);
        })();
      })();
  </script>
