<link rel="stylesheet" href="/styles/common/btm_header.css"/>
<div class="head-content a-fadein" >
    <div class="head-content-inner">
        <!-- 一级导航 -->
        @@include('menu.html')
        <div class="m-nav">
            <ul>
                <li class="m-nav-item">
                    <a class="m-nav-link trans_link_3" href="/wholesale.html">商城首页</a>
                </li>
                <li class="m-nav-item">
                    <a class="m-nav-link trans_link_3" href="/brand/brand-nav.html">品牌导航</a>
                </li>
                <li class="m-nav-item">
                    <a class="m-nav-link trans_link_3" href="/activity/recommand.html">推荐人计划</a>
                </li>
                <li class="clear"></li>
            </ul>
        </div>
        @@include('../common/purchase.html')
    </div>
</div>