<link rel="stylesheet" href="/styles/common/side.css"/>
<div class="side">
	<div class="contact-wrap">
		<div class="advice">找货询价咨询</div>
		<div class="contact">
			<img src="/images/common/contact01.png" alt="">
			<div class="left-pop">
				<img src="/images/common/pop01.png" alt="">
				<a class="contact-qq" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3366370013&site=qq&menu=yes"></a>
			</div>
		</div>
		<div class="contact">
			<img src="/images/common/contact02.png" alt="">
			<div class="left-pop"><img src="/images/common/pop02.png" alt=""></div>
		</div>
		<div class="contact phone">
			<img src="/images/common/contact03.png" alt="">
			<div class="left-pop"><img src="/images/common/pop03.png" alt=""></div>
		</div>
	</div>
	<a class="back-top trans_link_5" href="#body-top" onclick="backTop()"></a>
</div>