<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="renderer" content="webkit" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1,requiresActiveX=true">
    <title>供应商注册绑定</title>
</head>
<body>
<iframe height="600" allowTransparency="true" style="width:100%;border:none;overflow:auto;" frameborder="0"
        src="http://form.mikecrm.com/9BCw6N"></iframe>

</body>
</html>