@charset "UTF-8";

.header {
    width: 1200px;
    margin: 0 auto;
    .hd {}
    .bd {
        .title {
            position: relative;
            padding: 20px 0;
            color: #9e9e9e;
            h1 {
                font-size: 18px;
                height: 50px;
                font-weight: normal;
                margin-left: 140px;
                line-height: 50px;
            }
        }
        .logo {
            position: absolute;
            width: 120px;
            height: 50px;
            // background: image-url("logo.png");
        }
    }
}