@charset "UTF-8";

.menu {
    // width: 192px;
    border: 1px solid #e0e0e0;
    // float: left;
    .list {} //预留
    .item {
        height: auto;
        padding: 0 15px;
        .hd {
            .title {
                height: 40px;
                line-height: 40px;
                color: #333;
                font-size: 14px;
                font-weight: bold;
            }
        }
        .bd {
            overflow: hidden;
            border-bottom: 1px solid #e0e0e0;
            a {
                display: inline-block;
                margin-left: 0px;
                margin-right: 15px;
                height: 40px;
                line-height: 40px;
                color: #666666;
                font-size: 12px;
                float:left;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        &:last-child {
            .bd {
                border-bottom: none;
            }
        }
    }
}