<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>关于佰万仓</title>
    <meta name="description" content=""> @@include('common/meta.html')
</head>

<body>
    <article class="weui_article">
        <section>
            <section>
                <p>佰万仓商城（<a href="www.bwcmall.com" style="color: #e83538">www.bwcmall.com</a>）是致力于为工业品行业提供一站式采购的电商平台。依托在工业品行业强大的资源整合能力，结合先进高效的互联网平台模式，佰万仓可以为用户提供正品、低价、全品、便捷的一站式采购服务。</p>
            </section>
            <img src="/images/about_us.jpg" alt="">
            <section>
                <h3>正品</h3>
                <p>佰万仓商城依托在工业用品行业上游资源的整合能力，通过批量采购，为客户提供低价，并有品质保障的商品。</p>
            </section>
            <section>
                <h3>免运费</h3>
                <p>佰万仓商城全站没有最低消费要求，所有订单商品运费全免。</p>
            </section>
            <section>
                <h3>开增票</h3>
                <p>佰万仓商城所有销售商品都为正品行货，并开具正规的增值税发票。</p>
            </section>
        </section>
    </article>
    @@include('common/footer.html')
</body>

</html>
