<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>首页</title>
    <meta name="description" content=""> @@include('common/meta.html')
</head>

<body>
    <div class="text-center">
        <a href="about.html">关于百万仓</a>
        <br>
        <a href="account/no-bind.html">未绑定账号</a>
        <br>
        <a href="account/bind.html">绑定账号</a>
        <br>
        <a href="account/bind-success.html">绑定成功</a>
        <br>
        --注册--
        <br>
        <a href="account/signup.html">注册</a>
        <br>
        <a href="account/signup-info.html">用户信息</a>
        <br>
        --登录--
        <br>
        <a href="account/login.html">登录</a>
        <br>
    </div>
    @@include('common/footer.html')
</body>

</html>
