<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>免费代找货</title>
    @@include('../../include/common/scripts.html')
    <link rel="stylesheet" href="/styles/module/activity/findgoods.css"/>
</head>
<body>
    <div ms-controller="headerCtrl">
        @@include('../../include/common/header-top.html')
        @@include('../../include/common/header-search.html')
        @@include('../../include/common/header-nav.html')
    </div>
    <div style="background-color:#30a1f7; padding-bottom:50px;">
        <div style="position:relative; text-align:center; min-width:1200px; padding:56px 0 86px;">
            <img src="/images/activity/find_goods_content.png" alt="">
            <a href="/member/register.html" style="position: absolute;top: 690px; left:50%; margin-left:-110px;"><img src="/images/activity/find_goods_btn.png" alt="立即注册" class="image"/></a>
        </div>
    </div>

    @@include('../../include/common/footer.html')
</body>
</html>
