<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>忘记密码</title>
    <meta name="description" content=""> @@include('../common/meta.html')
</head>

<body id="app">
    <div class="container" id="sign-wrap">
        <div class="cell">
            <div class="spacing">
                <div class="weui_cells weui_cells_form weui_cells_border">
                    <div class="weui_cell">
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input" type="number" placeholder="手机号" v-model="signup.phone.val">
                        </div>
                    </div>
                    <div class="weui_cell">
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input" type="number" placeholder="验证码" v-model="signup.captcha.val">
                        </div>
                        <div class="weui_cell_ft text-primary" :class.sync="countBusy ? disabledClass : ''" @click="sendCaptcha(signup.phone.val)">
                            {{countText}}
                        </div>
                    </div>
                    <div class="weui_cell">
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input" type="password" placeholder="登录密码" v-model="signup.password.val">
                        </div>
                    </div>
                    <div class="weui_cell">
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input" type="password" placeholder="确认登录密码" v-model="signup.cofirmPassword.val">
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-footer">
                <button class="weui_btn weui_btn_warn" @click="submit()">提交</button>
            </div>
        </div>
    </div>
    @@include('common/footer.html')
    <!-- build:js({.tmp,app}) /js/page/account/password.js -->
    <script src="/js/page/account/password.js"></script>
    <!-- endbuild -->
</body>

</html>
