<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>忘记密码</title>
    <meta name="description" content=""> @@include('../common/meta.html')
</head>

<body>
    <div class="content-body success" id="sign-wrap">
        <div class="bd spacing text-center" style="margin-top: 20px;">
            <img class="success-img" src="/images/account/password-success.png" alt="" />
            <h3 class="success-title">恭喜，您的密码修改成功！</h3>
            <p class="success-text">请妥善保管好您的新密码
            </p>
        </div>
        <div class="ui-footer">
            <a class="weui_btn weui_btn_warn" href="/">完成</a>
        </div>
    </div>
    @@include('../common/footer.html')
</body>

</html>
<script>
