<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>完善资料</title>
    <meta name="description" content=""> @@include('../common/meta.html')
</head>

<body>
    <div class="content-body success" id="sign-wrap">
        <div class="bd spacing text-center" style="margin-top: 20px;">
            <img class="success-img" src="/images/order/no_bind_icon.png" alt="" />
            <h3 class="success-title">您好，您尚未完善资料！</h3>
            <p class="success-text">完善资料，认证后，可看到价格
            </p>
        </div>
        <div class="ui-footer">
            <a id="btnBack" href="signup-info.html" class="weui_btn weui_btn_warn">去完善</a>
        </div>
    </div>
    @@include('../common/footer.html')
</body>

</html>
<script>
