<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>关于服务商</title>
    @@include('../../include/common/common-include.html')
    <link rel="stylesheet" href="/styles/module/protocol/protocol.css"/> 
</head>
<body>
    @@include('../../include/common/header.html')
<div class="g-wrap">
    <div class="content-head">
        <div class="m-public-logo f-fl">
            <a href="/"></a>
        </div>
        <div class="content-head-text f-fl">
            关于服务商
        </div>
        <div class="content-head-call f-fr"></div>
        <div class="clear"></div>
    </div>
</div>
<div class="g-content">
    <div class="content-body-head">服务商说明</div>
    <div class="content-body-block">
        <span class="content-body-title">1.什么是服务商？</span>
        <p>服务商是指长期为终端用户提供产品和服务的企业或商户</p>
        <p>比如，您是：销售门店、做单公司、销售店家等都是我们希望合作的服务商</p>
        <span class="content-body-title">2.为什么要成为我们的服务商</span>
        <p>－为服务商制定价格，保证服务商的价格劣势</p>
        <p>－正品保障</p>
        <p>－快捷发货</p>
        <p>－全品类采购</p>
        <p>－完整的售后体系放心采购</p>

        <span class="content-body-title">3.如何成为我们的服务商</span>
        <p>申请成为佰万仓的服务商 － 提交材料 － 审核通过 － 成为服务商
        </p>

    </div>
    <div class="content-body-foot">
        <table class="link-corp">
            <tr>
                <td class="text-left"><a href="/wholesale.html" class="trans_link_3 no-corp">我知道，先不注册</a></td>
                <td class="text-right"><a href="/member/corpInfo.html" class="trans_link_3 contact-corp">申请成为服务商</a></td>
            </tr>
        </table>
    </div>
</div>
@@include('../../include/common/footer.html')
</body>
</html>