<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>用户注册协议</title>
    @@include('../../include/common/common-include.html')
    <link rel="stylesheet" href="/styles/module/protocol/protocol.css"/> 
</head>
<body>
    @@include('../../include/common/header.html')
<div class="g-wrap">
    <div class="content-head">
        <div class="m-public-logo f-fl">
            <a href="/"></a>
        </div>
        <div class="content-head-text f-fl">
            注册协议
        </div>
        <div class="content-head-call f-fr"></div>
        <div class="clear"></div>
    </div>
</div>
<div class="m-p-content">
    <div class="content-body-head">佰万仓商城网站服务协议</div>
    <p class="MsoNormal">
        <span></span>
    </p>
    <p style="text-align:center;vertical-align:top;" class="MsoNormal" align="center">
        <b><span style="font-family:'微软雅黑','sans-serif';color:#444444;font-size:24px;">佰万仓商城网站服务协议</span></b>
    </p>
    <p style="text-align:center;vertical-align:top;" class="MsoNormal" align="center">
        <b><span style="font-family:'微软雅黑','sans-serif';color:#444444;font-size:14px;"></span></b><span style="font-family:'微软雅黑','sans-serif';color:#444444;font-size:24pt;"></span>&nbsp;
    </p>
    <p style="text-align:left;vertical-align:top;" class="MsoNormal" align="left">
        <span style="font-family:'微软雅黑','sans-serif';color:#444444;font-size:14px;">本协议是您与佰万仓商城网站（以下简称为“本网站”，网址：<a href="http://www.bwcmall.com">www.bwcmall.com</a>）的所有者上海佰万仓网络科技有限公司（以下简称为“佰万仓”）之间就本网站的服务等相关事宜所订立的契约。<span></span></span>
    </p>
    <p style="text-align:left;vertical-align:top;" class="MsoNormal" align="left">
        <span style="font-family:'微软雅黑','sans-serif';color:#444444;font-size:14px;"></span>
    </p>
    <p style="text-align:left;vertical-align:top;" class="MsoNormal" align="left">
	<span style="font-family:'微软雅黑','sans-serif';color:#444444;font-size:14px;">请您务必仔细阅读本协议全文，当您点击“我已阅读并同意<span>网站注册协议</span>协议，注册”按钮后，即表明您已完全了解及明白本协议的全部内容并完全同意接受全部条款，则本协议即构成对双方有约束力的法律文件。如您不同意本协议各条款的条件，则您不能使用本网站，不能购买本网站产品，不能使用服务，也不能注册成为本网站用户。<span><br />
<br />
</span><b>第<span>1</span>条 本网站服务协议的确认和接纳</b><span><br />
<br />
<b>1.1</b></span>本网站及其涉及到的产品、服务、相关软件等等的所有权和运营权归佰万仓所有，佰万仓享有对本网站上一切活动的监督、提示、检查、纠正及处罚等等权利。用户同意本服务协议所有条款并完成注册程序，才能成为本网站的正式用户。用户确认：本协议是处理双方权利义务的契约，始终有效，法律另有强制性规定或双方另有特别约定的，依其规定。如您不同意本协议各条款的条件，则您不应从事使用本网站的服务、购买产品、使用服务以及注册成为本网站用户的行动；否则，佰万仓保留拒绝接受合同<span>/</span>订单的权利以及其他权利，如由此而引起的一切后果，由您自行承担。<span><br />
<b>1.2</b></span>本网站服务供依法能够且有权订立具有法律约束力合约的自然人、法人及非法人组织使用。因此，用户应为具备完全民事行为能力的自然人，或依法成立、存续的法人或非法人组织。如果您在<span>18</span>周岁以下，您只能在监护人的监护参与下才能使用本网站。用户点击“同意以下<span>/</span>以上协议，提交”按钮的，即视为用户确认自己具有享受本网站服务、下单购物、支付货款、接收货物等等相应的权利能力和行为能力，能够独立承担法律责任。用户违反本项条件，本网站可随时拒绝向其提供服务，若因此给第三方、本网站或佰万仓造成损失，用户须承担全部赔偿责任。<span><br />
<b>1.3</b></span>佰万仓及本网站保留在中华人民共和国大陆地区施行之法律允许的范围内独自决定拒绝服务、关闭用户账户、清除或编辑内容或取消合同的权利。<span><br />
<br />
</span><b>第<span>2</span>条 本网站服务</b><span><br />
<br />
<b>2.1</b></span>佰万仓及本网站通过互联网依法为用户提供互联网信息等服务，用户在完全同意本协议及本网站规定的情况下，方有权使用本网站的相关服务。本网站中所记载的产品<span>(</span>以下称“产品”<span>)</span>的相关销售服务及售后服务<span>(</span>以下合称“服务”<span>)</span>应当按照本协议执行。<span><br />
<b>2.2</b></span>用户可以通过本网站，按照本协议的规定，根据相关条件<span>(</span>包括且不限于本网站所记载的型号、规格、价格、交货期、订购条件、使用上的注意事项等等<span>)</span>购入产品。但是，由于包括且不限于产品的性质、佰万仓的情况、外加工方、产品的生产方、相关供应商或用户自身延迟确认、延迟付款等等因素，产品或<span>/</span>和本网站以及相关服务中的一部分会在没有事先通知的情况下发生调整或者从本网站中删除。本网站所提供的所有信息仅供参考；尤其提醒用户注意的是，本网站中的价格一般不包含现场服务费，具体请咨询本网站客户服务部予以核实；本网站中的价格均不包含运费及与运输相关的费用，且仅为参考价格，价格不仅会因为受到前述各项因素的影响而有所变动，亦会因为受到包括且不限于用户的所在地、采购数量、付款方式以及运输方式、原材料变动、市场因素、供需关系变化等因素的影响还有所变动，产品或<span>/</span>和服务的价格应以佰万仓的最终确认为准。<span><br />
<b>2.3</b></span>本网站相关服务的可提供范围以佰万仓在本网站中公布的范围以及佰万仓的其他说明为准，佰万仓将不提供超出范围的服务，由于包括且不限于产品的性质、佰万仓的情况、外加工方、产品的生产方、相关供应商或用户自身延迟确认、延迟付款等等因素，相关服务的范围会在没有事先通知的情况下进行调整。<span><br />
<br />
</span><b>第<span>3</span>条 用户使用基本规范</b><span><br />
<br />
<b>3.1</b></span>特别提示用户，使用互联网必须遵守国家有关的政策和法律，包括且不限于刑法、国家安全法、保密法、计算机信息系统安全保护条例等等，保护国家利益，保护国家安全，对于违法使用互联网络而引起的一切责任，由用户负全部责任。<span><br />
<b>3.2</b></span>考虑到本网站产品及服务的特性，用户同意：<span><br />
(1)</span>用户必须自行准备如下设备和承担如下开支：<span><br />
a)</span>上网设备，包括且不限于电脑或者其他上网终端、调制解调器及其他必备的上网装置；<span><br />
b)</span>上网开支，包括且不限于网络接入费、上网设备租用费、手机流量费等等。<span><br />
(2)</span>在本网站购买产品或从事各类活动时以及在本网站提出要求时，提供及时、详尽及准确的个体资料，包括且不限于姓名<span>/</span>名称、性别、年龄、住址<span>/</span>住所地、通讯地址、联系电话、电子邮件地址等；并实时更新注册资料，符合及时、详尽、准确的要求。如果用户提供的注册资料不合法、不真实、不准确、不详尽的，用户需承担因此引起的相应责任及后果，并且本网站保留终止用户使用本网站各项服务的权利。如有合理理由怀疑用户提供的资料错误、不实、失效或不完整的，本网站有权向用户发出询问及<span>/</span>或要求改正的通知，并有权直接做出删除相应资料的处理，直至中止、终止对用户提供部分或全部服务。本网站及佰万仓均对此不承担任何责任，用户将承担因此产生的任何直接或间接支出。但是，本网站及佰万仓均不负有对所有用户的注册数据、交易行为以及与交易有关的其它事项进行事先审查的义务。<span><br />
(3)</span>注册后同意接收来自佰万仓及本网站发出的与产品、优惠活动等等相关的邮件、信息。用户在享用本网站各项服务的同时，同意接受本网站提供的各类信息服务，这些信息所涉及的内容包括且不限于以文字、图片、照片、音视频形式等等表现的各类合同信息、宣传信息、促销信息、商业信息，以及佰万仓及本网站合作伙伴等等信息，该类信息的提供方式包括且不限于电子邮件、短信息等等。用户在本网站注册或实际使用本网站的服务，即表明用户已同意接受此项服务。若用户不希望接收来自本网站的邮件，则可通过回复邮件的方式按照提示自助完成退阅；若用户不希望接收来自本网站的短信，则可联系本网站客户服务部协助处理。<span><br />
(4)</span>佰万仓有权使用用户的注册信息、用户名、密码等信息，登陆进入用户的注册账户，按照用户的要求进行操作或者进行证据保全，包括且不限于公证、见证等等。<span><br />
<b>3.3</b></span>用户可在本网站发布信息、评论等等内容，但不得使用本网站服务发送或传播敏感信息和违反国家法律法规政策的信息，此类信息包括且不限于：<span><br />
(1)</span>反对宪法所确定的基本原则的；<span><br />
(2)</span>危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；<span><br />
(3)</span>损害国家社会公共利益和涉及国家安全的信息资料或言论；<span><br />
(4)</span>煽动民族仇恨、民族歧视，破坏民族团结的；<span><br />
(5)</span>破坏国家宗教政策，宣扬邪教和封建迷信的；<span><br />
(6)</span>散布谣言，扰乱社会秩序，破坏社会稳定的；<span><br />
(7)</span>散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；<span><br />
(8)</span>侮辱或者诽谤他人，侵害他人合法权益的；<span><br />
(9)</span>含有法律、行政法规禁止的其他内容的。<span><br />
<b>3.4</b></span>用户在发布信息、评论等等内容及使用本网站服务过程中，还必须遵循以下原则：<span><br />
(1)</span>遵守中国有关的法律和法规；<span><br />
(2)</span>不得为任何非法目的而使用网络服务系统，遵守所有与网络服务有关的网络协议、规定和程序；不得利用本网站网络服务系统进行任何可能对互联网的正常运转造成不利影响的行为；不得干扰本网站的正常运转，不得侵入本网站及国家计算机信息系统；<span><br />
(3)</span>不得进行任何未经佰万仓及本网站许可的商业广告行为；不得对本网站上的任何数据作商业性利用，包括且不限于在未经佰万仓及本网站事先书面同意的情况下，以复制、发行、传播、出租、展览等等任何方式使用本网站的任何资料；<span><br />
(4)</span>不得使用虚假、冒充他人或其他方的信息注册本网站后发布评论或其他内容；不得以虚构或歪曲事实的方式不当评价其他会员，不得采取不正当方式制造或提高自身的信用度，不得采取不正当方式制造或提高<span>(</span>降低<span>)</span>其他会员的信用度；<span><br />
(5)</span>不得使用任何装置、软件或例行程序干预或试图干预本网站的正常运作或正在本网站上进行的任何交易、活动；不得采取任何将导致不合理的庞大数据负载加诸本网站网络设备的行动；<span><br />
(6)</span>不得利用网络服务进行任何不利于佰万仓或本网站的行为；<span><br />
(7)</span>从中国大陆向境外传输资料信息时必须符合中国有关法规；<span><br />
(8)</span>不得利用本网站从事洗钱、窃取商业秘密、窃取个体信息等违法犯罪活动；<span><br />
(9)</span>不得教唆他人从事本协议所禁止的行为；<span><br />
(10)</span>不得发布任何侵犯他人著作权、商标权等知识产权或合法权利的内容。<span><br />
</span>用户应不时关注并遵守本网站或佰万仓不时公布或修改的各类合法规则规定。<span><br />
<b>3.5</b></span>用户不得将在本网站注册获得的账户借给他人使用，否则用户应承担由此产生的全部责任，并与实际使用人承担连带责任。<span><br />
<b>3.6</b></span>用户享有检举权，用户在使用本网站服务过程中若发现违法、违规、侵权或其他任何违反本协议的行为，有权通过专门的客服途径向佰万仓或本网站进行检举，佰万仓或本网站将通过对检举内容的核实采取相应的措施。用户保证其检举事项的真实性、公正性，同时尊重佰万仓及本网站对被检举事项的处置措施；被检举用户有权通过专门的客服途径进行辩解，但不影响佰万仓或本网站先行采取相应措施，佰万仓或本网站在接纳被检举用户的辩解后，将恢复对其的服务但佰万仓或本网站不对先行采取相应措施承担任何责任。本网站将对用户检举进行保密。<span><br />
<b>3.7</b></span>用户违反本条本协议，本网站有权视情节的严重采取警告、限期改正、暂停服务、取消合同、禁止交易、封闭账户、永久禁止注册等措施，给第三方、佰万仓或本网站造成损失的，佰万仓或本网站有权采取一切合法的诉讼与非诉手段进行索赔；用户行为构成犯罪的，佰万仓或本网站有权通知和协助国家主管部门进行查处。<span><br />
<b>3.8</b></span>本网站及佰万仓保有删除站内各类不符合法律政策或不真实的信息内容而无须通知用户的权利。若用户未遵守以上规定的，本网站或佰万仓有权作出独立判断并采取暂停或关闭用户帐号等措施。用户须对自己在网上的言论和行为承担法律责任。<span><br />
<b>3.9</b></span>关于隐私<span><br />
(1)</span>用户注册成功后，将拥有一个本网站专用账户及相应的密码，该账户和密码将成为用户登录本网站、使用本网站服务、进行交易、完成支付以及享受售后服务的凭证。<span><br />
(2)</span>每位用户只允许在本网站拥有一个有效账户，如有证据证明，本网站或佰万仓有理由相信用户存在恶意注册多个账户的情形，本网站或佰万仓有权采取取消合同、冻结或关闭账户等措施，给本网站或佰万仓造成损失的，用户承担赔偿责任。<span><br />
(3)</span>使用本网站服务过程中，用户有义务保管好自身的账号及密码，并对他人使用私人计算机作出限制。用户不得以任何形式擅自转让或授权他人使用自己的本网站账户及密码。如果因为用户管理不善造成账户、密码等被复制或被盗用，相应损失由用户自行承担。同时，通过该用户的账户在本网站上发生的所有活动以及产生的责任，亦应由该用户承担。用户若发现任何非法使用用户账号或存在安全漏洞的情况，请立即通知本网站。<span><br />
(4)</span>用户不得采用测试、欺骗等任何非法手段，盗取其他用户的账户信息或对他人进行骚扰。<span><br />
(5)</span>所有用户提供的评价，建议，观念，图形或其他信息将永远是本网站及佰万仓的财产。除非另有书面说明，所有提交本网站的非个体资料将视为公开信息，本网站及佰万仓没有被要求必须对此类信息保密处理。本网站及佰万仓对所有现在和将来具有的对非个体信息的权利享有专属权，无需对提交信息的个体作出补偿。<span><br />
(6)</span>鉴于用户在本网站进行浏览、下单购物等等活动时，涉及用户真实姓名<span>/</span>名称、通信地址、联系电话、电子邮箱等隐私信息，并且尊重用户个体隐私是本网站的一项基本政策，因此，本网站承诺仅根据本网站服务目的或按法律的要求使用用户个体信息。服务目的包括且不限于交易确认、交易支付、用户回访、政策更新、用户通知、发送促销信息、商业信息以及其他与交易和服务相关的辅助服务等等。<span><br />
</span>本网站不会向第三方披露、转让、出租或者出售交易涉及消费者个体信息的数据以及用户保存在本网站各项服务中的非公开内容，除非是提供给直接参与产品设计、生产、检验或售后服务的个人或实体，或者是基于更好地为用户服务的考虑，或是在诚信基础上透露这些信息是必要的或者是出于得到用户的授权或法律另有规定。<span><br />
</span>佰万仓或本网站对用户在本网站发布或保存的非公开信息进行保密，除非：<span><br />
a)</span>事先获得用户明确授权后，用户要求本网站或授权某人通过电子邮件服务或其他方式透露这些信息；<span><br />
b)</span>相应的法律、法规要求以及按照有关政府主管部门的要求，需要佰万仓或本网站提供用户的个体资料；<span><br />
c)</span>为了维护公众和<span>/</span>或本网站、佰万仓的合法利益；<span><br />
d)</span>本网站可能会与第三方合作向用户提供相关的网络服务，在此情况下，如出于为用户提供服务的目的，则本网站有权将用户的注册资料等提供给该第三方；<span><br />
e)</span>在不透露单个用户隐私资料的前提下，本网站有权对整个用户数据库进行分析并对用户数据库进行商业上的利用；<span><br />
f)</span>佰万仓或本网站基于诚信在以下情形下认为透露这些信息是必要的；<span><br />
g)</span>遵从本网站或佰万仓的产品服务程序；<span><br />
h)</span>在紧急情况下维护用户个体和社会大众的隐私安全；<span><br />
i)</span>佰万仓或本网站基于诚信及必要的情况下。<span><br />
&nbsp;<br />
</span><b>第<span>4</span>条 买卖合同<span>(</span>或称合同<span>/</span>订单<span>)</span></b><span><br />
<br />
<b>4.1</b></span>产品信息、价格及相关变化<span><br />
</span>产品的价格在本网站<span>(</span>网址：<a href="http://www.bwcmall.com">www.bwcmall.com)</a>上指明。这类信息可能随时更改且不发出任何通知。产品的价格包含了增值税，产品送达费用及与送达相关的费用则另外结算，送达费用及与送达相关的费用根据用户选择送货方式的不同而异。由于本网站上产品信息<span>(</span>包括<span>)</span>的数量极其庞大，虽然本网站会尽最大努力维护用户所浏览产品信息的准确性，但由于互联网技术因素等等客观原因存在，本网站网页显示的信息可能会有一定的滞后性或差错，本网站及佰万仓不保证用户从本网站获得的信息的准确性、正确性、可靠性或者其他，用户对此情形知悉并理解。本网站将尽最大努力保证用户所购产品与网站上公布的价格一致，但直至用户发出订单，本网站才能确认产品的价格。如经本网站核实，产品的在用户发出订单时的实际价格与本网站公布的价格不一致的，本网站或佰万仓将通知用户并与用户就是否仍旧购买产品进行确认。<span><br />
<b>4.2</b></span>买卖合同<span>(</span>或称合同<span>/</span>订单<span>)</span>的成立及产品的订购<span><br />
(1)</span>本网站公布的信息为合同的要约邀请，用户的订购为合同的要约，本网站收到用户的要约并回复承诺则合同成立。如受到包括且不限于产品的性质、种类、数量、佰万仓的情况、外加工方、产品的生产商、相关供应商或用户自身延迟确认、延迟付款等等因素的影响，有时会限定订购的方式，如必须以书面签章的形式确认订购的具体事项，则履行书面签章形式时合同方为成立。<span><br />
(2)</span>本网站收到用户的要约之后，如果同意用户的订购，将给予用户确认回复，合同即为生效。佰万仓收到用户的要约之后未作出确认回复的，不得视为佰万仓同意用户的订购。如用户的订购要求有必要事项<span>(</span>包括且不限于订购数量、交货期<span>/</span>交货时间、交货地点等等<span>)</span>不完备时，本网站将与用户进行进一步确认，如用户仍然不能提供完备的要约，则视为无效订购，合同不能成立不能生效，本网站不能为用户购入产品，本网站对因此而产生的相关损失及一切后果不承担任何责任。<span><br />
&nbsp;(3)</span>如生效合同中有与本网站或本协议不一致之内容者，除非在合同中以独立的条款特意郑重说明排除适用本网站及本协议内容，否则均以本网站及本协议为准而不论本网站或佰万仓是否实际签署了合同。<span><br />
(4)</span>本网站及本协议所称的合同，其形式不限于订单、协议、采购通知、发货通知单等等，凡任何用户和本网站或佰万仓就利用本网站进行订购或利用本网站相关服务所达成一致的意思表示均为本协议所称之合同，本协议均可予以适用。<span><br />
<b>4.2</b></span>买卖合同的履行<span><br />
(1)</span>合同生效之后，本网站与用户均应严格按照合同的规定完全履行合同的全部内容。<span><br />
(2)</span>因用户的要求而产生的与订购有关的相关费用<span>(</span>包括且不限于保险费用、额外的运输费用等等<span>)</span>，本网站或佰万仓有权要求用户承担。<span><br />
(3)</span>合同如有未尽事宜，按本网站、佰万仓及本协议的规定执行，如仍有未尽事宜或在履行过程中发生争议的，应通过协商解决，协商不成，任何与产品或服务相关的争议与纠纷均由佰万仓所在地人民法院或上海市浦东新区人民法院管辖而不论是否在生效合同中另行约定了管辖法院或是约定了其他争议解决方式。<span><br />
(4)</span>合同生效之后，用户希望变更或取消合同的，需书面通知本网站并经本网站书面同意且确认相关细节后方可变更或取消，单方面变更或取消合同的行为均属无效。本网站或佰万仓有权根据变更或取消的具体情况向用户收取相关的变更或取消费用，并有权用户承担由此引起的全部损失。<span><br />
<b>4.3</b></span>关于产品的运送与交付<span><br />
(1)</span>本网站所说的交货期是指货到交货地点的所需时日<span>(</span>下称“到货天数”<span>)</span>，到货天数均自合同已经生效且用户已经满足发货条件的后壹日开始计算。所有本网站上列出的到货天数皆为参考时间，仅供用户参照使用。到货天数因订购产品的种类、数量、订购时间、送货地点不同而有所不同，具体由本网站或佰万仓与用户在生效订单中予以明确记载。<span><br />
(2)</span>产品到货时，用户应指派专人<span>(</span>如采购、仓管、收货专员等等<span>)</span>负责接收货物，用户在接收货物时应认真核对货物品名、品牌、型号、数量、包装、外观、剩余有效期等等是否无误及完好，用户确认无误及完好后应给予本网站书面签收。货物一经用户书面签收<span>/</span>实际收货，即表示用户认可本网站或佰万仓交付给用户的货物品名、品牌、型号、数量、包装、外观、剩余有效期等等符合合同规定及用户的要求，如用户在签收<span>/</span>实际收货后就货物品名、品牌、型号、数量、包装、外观、剩余有效期等等提出异议的，本网站及佰万仓有权不予接受且不承担任何责任。产品毁损、灭失的风险，在产品交货之后由用户承担。<span><br />
(3)</span>产品的交付应在合同中已经指明的交货地点与用户事先已经指定的人员进行，如本网站对交货地点及<span>/</span>或接收人不能完全确认的，本网站或佰万仓可以要求接收人提供用户的授权委托文件及相关身份证明材料以便确认身份，如用户及接收人不能提供完备的证明材料的，本网站或佰万仓有权拒绝交货并对于因此而产生的相关损失及一切后果不承担任何责任。但是，本网站及佰万仓并没有对交货地点及接收人进行甄别的义务。如用户指定的收货人与用户本人不一致的，收货人的行为和意思表示视为用户的行为和意思表示，用户应对收货人的行为及意思表示的法律后果承担连带责任。<span><br />
(4)</span>在收货清点时，由于应归责于本网站的原因，送达了比合同中订购数量少的产品时，本网站将在另行承诺的期限内为用户补足。如本网站送达了比合同中订购数量多的产品时，请用户归还本网站或佰万仓，相关运费由本网站承担，烦请用户在退还该产品之前根据该产品的性质，妥善地按照管理者的注意义务进行保管。如用户要求购买多送的产品，则仍然应根据本协议的规定执行。<span><br />
<b>4.4&nbsp;</b></span>库存及缺货<span><br />
(1)</span>有关产品的可获性将在本网站上指明。用户应在提交订单前仔细核实上述信息，此后本网站将对用户的订单进行审核并在符合发货条件后安排配送。<span><br />
(2)</span>若用户订购的产品发生缺货，则本网站或佰万仓将通知用户并与用户就是否仍旧购买产品进行确认。<span><br />
(3)</span>本网站将尽量保证产品信息及可获性的准确，但仍可能因人员操作、系统问题及其他多种原因产生错误，对此情形用户知悉并理解。<span><br />
<br />
</span><b>第<span>5</span>条 定制品</b><span><br />
<br />
</span>非本网站记载的规格、式样等的产品，根据用户委托加工制作的特定品，以及其他的定作品<span>(</span>以下称“特别订购产品”<span>)</span>，只要不违反其性质，特别订购产品也同样适用本协议。本协议所称之产品，应当理解为包括特别订购产品。<span><br />
<br />
</span><b>第<span>6</span>条 产品售后服务及质量保证</b><span><br />
<br />
(1)</span>产品的型号、规格、技术标准与参数、包装、质量相关事项、售后服务等等均以产品原生产企业或其指定生产企业的企业标准为准。如为定制品的，则以生效合同中的用户与本网站或佰万仓共同确认的型号、规格、技术标准与参数、包装、质量相关事项、售后服务等等规定为准。<span><br />
(2)</span>用户对到货产品应进行验收，如用户对到货的产品的质量有异议的，应于产品到货后十个工作日内向本网站书面提出，否则视为到货产品经验收为符合合同规定及用户要求的合格品。<span><br />
(3) </span>产品的保修以产品原生产企业或其指定生产企业的保修标准为准<span>(</span>可参见保修卡<span>)</span>。<span><br />
a)</span>保修单位地点：产品原生产企业或其指定生产企业的售后维修中心或指定当地特约维修点，用户须自行送修或寄回佰万仓送修。<span><br />
b)</span>免费保修期：以产品原生产企业或其指定生产企业规定的免费保修期为准。<span><br />
c)</span>免费保修范围：<span><br />
</span>①以产品原生产企业或其指定生产企业规定的免费保修范围为准，因使用不当、违规操作、超负荷运转、人为损害、自行拆装、储藏不良等等人为因素或自然损耗或不可抗力<span>/</span>意外事件造成产品不能正常使用或损坏的，产品被转让、转卖或出借他人的，经不正当或非授权机构维修的，以及消耗品及易损件，均不属于保修的范围；<span><br />
</span>②除了所附保修单上有明确规定的免费保修范围，其他情况须送修后根据售后维修中心或指定当地特约维修点的检测结果，确定送修项目是否属于免费保修范围；<span><br />
</span>③如不属于免费保修范围则由售后维修中心或指定当地特约维修点提供维修项目、收费清单，再由用户决定是否维修。<span><br />
d)</span>本保修条款不适用于耗材类、消耗品类、非工具类产品。<span><br />
(4)</span>除本网站、产品原生产企业或其指定生产企业明确作出的保证外，本网站及佰万仓均未作出任何默示保证或其他保证。维修或退<span>/</span>换货是本网站对用户可能提供的全部补偿。产品通过验收或不存在质量问题的，用户不得以任何理由要求退货或换货或提出其他不合理要求。<span><br />
(5)</span>只有当到货产品因本网站的原因导致与本网站记载的产品不一致时，本网站或佰万仓才予以退货或换货，本网站及佰万仓均不对产品的适用性、可销售性、与其他产品的适用性、与其他产品的互换性、销售期及其他作出任何保证。到货产品与本网站记载的产品是否一致，以及不一致的原因是否在本网站或佰万仓，由本网站或佰万仓确定。用户要求退<span>/</span>换货产品的产品应由用户负责退回佰万仓后由佰万仓检验无误并确认予以退<span>/</span>换后，由佰万仓办理相关手续；如经佰万仓检验不应予以退<span>/</span>换货的，由用户自费取回，佰万仓不承担任何责任。<span><br />
(6)</span>以下情况不适用于佰万仓的保证，用户不能享有保修、退货或换货的权利：<span><br />
a)</span>特别订购产品、佰万仓为用户特别提供的外购品<span>(</span>指佰万仓从非佰万仓常规供应商处购买的产品<span>)</span>、易耗品、一次性卫生用品、产品技术性能决定无法更换的产品；<span><br />
b)</span>已开封、拆包或者使用过的产品；<span><br />
c)</span>用户错误地选择、使用不当、违规操作、超负荷运转、人为损害、自行拆装、储藏不良等等人为因素或自然损耗或意外事件<span>/</span>不可抗力事件导致损毁、灭失、失效或变质的产品；<span><br />
d)</span>被转让、转卖或出借他人的，或者经不正当或非授权机构维修的产品，以及消耗品和易损件；<span><br />
e)</span>过期的产品；<span><br />
f)</span>到货之日起超过<span>7</span>日的产品；<span><br />
g)</span>根据用户情况而大量订购的产品；<span><br />
h)</span>用户因个体偏好<span>(</span>如用户认为产品的颜色应该更深或更浅等等<span>)</span>或用户其他情况引起的要求维修或退、换货；<span><br />
i)</span>未能出具固安捷开具的购买发票；<span><br />
j)</span>用户指定运输公司造成货损的或用户发货佰万仓的过程中造成损坏的产品；<span><br />
k)</span>产品无法二次销售<span>(</span>包括且不限于缺少包装或者配件等等<span>)</span>；<span><br />
l)</span>佰万仓认为不能维修或退、换货的其他情况。<span><br />
(7)</span>除非佰万仓另有明确的书面说明，本网站及佰万仓提供给用户的全部信息、内容、材料、产品<span>(</span>包括软件<span>)</span>和服务，是由本网站及佰万仓在<span>"</span>按照现状<span>"</span>和<span>"</span>按照可提供<span>"</span>的基础上提供的。本网站及佰万仓不对网站的运营及网站上的信息、内容、材料、产品<span>(</span>包括软件<span>)</span>或服务作任何形式的、明示或默示的声明或担保。用户明确同意在使用本网站、产品及服务时自担风险。<span><br />
(8) </span>关于产品、相关服务产生的直接的、间接的、最终的、附带的、特别的、额外的、惩戒性或惩罚性的任何损失、损害、不良后果或影响，除本协议及相关适用法律的强制性规定外，本网站或佰万仓不承担任何责任。但不论在任何情况下，本网站及佰万仓的责任限于并不超过用户购入造成损失<span>/</span>损害<span>/</span>不良后果<span>/</span>影响的产品的价款<span>(</span>佰万仓的出售价格<span>)</span>。用户违反本规则的行为将使用户丧失要求任何补偿、赔偿的权利并应赔偿佰万仓因此而遭受的损失及承担的费用。本条款无论在何时或在何种情况下都始终有效并且相对于任何合同<span>/</span>协议<span>/</span>书面文件中的任何条款与内容都具有最高的优先适用效力。<span><br />
<br />
</span><b>第<span>7</span>条 支付及税款</b><span><br />
<br />
(1)</span>付款方式将在本网站予以公示。用户应在确认合同时，选择付款方式，并严格按照已选择的方式付款。用户应当严格按照合同的规定支付货款。现金或提前支付不享有折扣。<span><br />
(2)</span>任何先货后款的货款支付方式均自本网站或佰万仓向用户发出订购产品之日起计算款期。<span><br />
(3)</span>用户利用本网站进行订购或利用相关服务时，须依据相关规定承担增值税及其他税、费，本网站及佰万仓对每个产品按相关规定收取相应的增值税及其他税、费。<span><br />
(4)</span>用户在付款期限届满时仍未付清货款的，本网站及佰万仓均有权采取停止接受订购、在不通知用户的情况下即可中止或终止已生效合同的履行，包括且不限于推迟发货、终止备货服务等等，本网站及佰万仓对因此而产生的相关损失及一切后果不承担任何责任。但用户不得以此为由拒收相应的产品<span>(</span>如本网站或佰万仓原先已经准备交付给用户但因用户逾期付款而推迟发出的产品等等<span>)</span>，用户应承担由该等推迟交货而导致的一切后果<span>(</span>包括且不限于产品剩余有效期缩短等等<span>)</span>。<span><br />
(5)</span>信用额度是用户在先订货后付款的过程中，未支付的全部已订购产品的累计货款最高限额。信用额度由本网站或佰万仓决定并授予。当用户的订购金额超过信用额度时，由本网站或佰万仓决定采取以下应对方法中的一种或几种：<span><br />
a)</span>要求用户支付预付款或要求用户支付未结算货款；<span><br />
b)</span>不接受订购<span>(</span>包括且不限于对订购不确认回复<span>)</span>；<span><br />
c)</span>在不通知用户的情况下即可中止或终止已生效合同的履行；<span><br />
d)</span>暂时中止为用户提供任何服务，或者关闭本网站上的某些服务；<span><br />
e)</span>本网站或佰万仓决定的其他方法。<span><br />
</span>本网站及佰万仓对因此而产生的相关损失及一切后果均不承担任何责任。<span><br />
<br />
</span><b>第<span>8</span>条 注意事项及用户的责任</b><span><br />
<br />
(1)</span>用户利用本网站进行订购或利用相关服务时，应遵守相关法律法规，应提供真实信息，遵守本协议，正当访问本网站的网络服务，不发送或者输入有害的病毒或程序或任何有害的组件，不给其他用户、第三方、本网站或者佰万仓带来不良后果或损失，不侵害其他用户、第三方、本网站或者佰万仓的合法权益。否则，用户将承担由此引起的一切后果、经济责任及法律责任。<span><br />
(2)</span>用户的相关信息，包括且不限于用户姓名、名称、经营权转让、变更、合并或分立、联络地址、送货地址、联络人、收货人、授权代表、法定代表人、联系方式、开票信息等等发生变更时，应及时通知本网站，本网站将根据具体情况与用户进行进一步的必要协商。否则，用户将承担由此引起的一切后果、经济责任及法律责任。<span><br />
(3)</span>访问本网站仅限于为实现本协议目的，且用户在符合法律要求的前提下方可获取本网站所提供的信息。不论出于何目的，严格禁止进入本网站或佰万仓的电脑系统的其他区域或获取其他信息。<span><br />
(4)</span>产品交互参考对比并不意味着所有对比的产品都有货或功能类似，也不意味着性能和其他特性完全具可比性。同时，本网站可链接到非<span>imart360.com</span>的其他网站，本网站及佰万仓并不对这些网站的内容负责。含有此类链接<span>, </span>这些网站并不表明其内容得到了本网站或佰万仓支持、赞助、推介或认同等等。本网站及佰万仓不承担对以下两类链接的责任：<span>a)</span>从其他站点链接到本网站；<span>b)</span>从本网站链接到其他站点。<span><br />
(5)</span>用户自行对订购的产品的选择、安装及适宜性负责。本网站努力保证产品符合适用法律，但是对产品的选择、安装及适宜性不做任何保证。用户在选择产品之前，应查阅相关适用法律法规，用户同意其使用、再销售、利用产品不违反相关适用法律法规的要求。否则，用户将承担由此引起的一切后果、经济责任及法律责任。<span><br />
(6)</span>本网站努力提高信息和服务品质，本网站提供的产品的信息、服务等等，就其安全性、确切性、有用性、符合目的性、最新性、合法性、道德性、网络服务中没有感染电脑病毒等等事项，除本网站或佰万仓有故意或者重大过失外，本网站及佰万仓均不承担任何责任。本网站及佰万仓将均不对所提供的产品的适用性或满足用户特定需求及目的进行任何明示或者默示的担保。用户在购买前应自行确认自身的需求，同时仔细阅读产品说明。用户在任何时间及情况下都将自行承担自身依据本网站中的信息所作出的一切判断或行为而引起的一切后果。<span><br />
(7)</span>用户明白，使用本网站提供的服务涉及到<span>Internet</span>服务和电信增值服务，可能会受到各个环节不稳定因素的影响。因此服务存在因不可抗力<span>(</span>包括且不限于自然灾害、政府行为以及战争、罢工、动乱等社会异常现象<span>)</span>、计算机病毒或黑客攻击、国家相关行业主管部门及电信运营商的调整、系统不稳定、用户所在位置、用户关机以及其他任何技术、互联网络、通信线路原因等造成的服务中断或不能满足用户要求的风险。用户同意承担以上风险，本网站及佰万仓均不作任何担保。对因此导致用户不能发送、上传和接受阅读消息、或接发错消息，或无法实现其他通讯条件，本网站及佰万仓均不承担任何责任。用户在使用本网站网络服务中产生的损失及一切后果等，除本网站或佰万仓有故意或者重大过失外，本网站及佰万仓均不承担任何责任。用户以非正常方法使用本网站的网络服务而产生的一切后果，本网站及佰万仓对此均不承担任何责任并由用户自行承担由此引起的一切后果。<span><br />
(8)</span>本网站及佰万仓已充分考虑到信息泄露等安全事项，但是用户应务必认识到即使如此也有发生信息泄露等的危险性，未必安全。除本网站或佰万仓对信息泄露存有故意或者重大过失外，本网站及佰万仓均不承担任何责任。<span><br />
(9)</span>用户明白，在使用本网站提供的服务时可能存在来自任何他人的包括威胁性的、诽谤性的、令人反感的或非法的内容或行为，以及对他人权利的侵犯<span>(</span>包括且不限于知识产权、人身权<span>)</span>的风险，用户同意承担以上风险，本网站及佰万仓均对此不作任何类型的担保。<span><br />
(10)</span>用户在参与活动或交易过程中与其他会员发生纠纷时，一旦一方或双方共同提交本网站要求调处<span>(</span>即调解处理<span>)</span>，则本网站或佰万仓有权根据单方判断做出调处决定，用户了解并同意接受本网站或佰万仓的判断和调处决定，该决定将对用户具有约束力。如用户未在限期内执行处理决定，本网站或佰万仓有权暂停向其提供服务，并根据用户执行处理决定的情况，采取进一步法律手段解决。用户理解并同意，本网站及佰万仓及其关联公司并非司法机构，仅能以普通人的身份对证据进行鉴别，本网站及佰万仓及其关联公司对争议的调处完全是基于用户的委托，本网站及佰万仓及其关联公司无法保证争议处理结果符合用户的期望，也不对争议调处结论承担任何责任。如用户因此遭受损失，用户同意自行向相对人、受益人或责任人索偿。<span><br />
(11)</span>如果用户未遵守本协议的任何一项，本网站及佰万仓均有权立即终止提供一切服务，并保留通过法律手段追究责任的权利。用户同时确认，本网站或佰万仓有权根据向用户所提供服务内容之特性，要求用户遵守特定的条件和条款；如该特定条件和条款与本协议有任何不一致之处，则以特定条件和条款为准。<span><br />
(12)</span>用户同意承担因用户违反本协议或为纠正用户的违反行为所引起的律师费用、诉讼费用、公正费用、鉴定费用、执行费用、路途费，以及因违反服务协议引起的损害赔偿费用等等。如用户的密码、账户被盗用，除非该事件因本网站或佰万仓的过错导致，否则用户应承担被盗用期间产生的一切责任和后果。<span><br />
<br />
</span><b>第<span>9</span>条 知识产权</b><span><br />
<br />
(1)</span>用户通过本网站所知悉的任何信息，应根据法律法规的要求予以保密，未得到专利、实用新型、外观设计、著作权、知识产权所有人的许可之前，不应在法律认可的范围外使用。<span><br />
(2)</span>用户违反法律法规及本协议的，用户须对本网站、佰万仓、第三方承担侵权行为带来的一切赔偿及法律责任。<span><br />
(3) </span>本网站含许多佰万仓、本网站以及第三方的商标，所有商标都是各公司的财产。本网站包含的所有知识产权包括且不限于著作权，商标权，商业秘密权以及专利权等等各项知识产权。用户访问本网站但无权复制或使用佰万仓、本网站或其他供应商的任何知识产权。<span><br />
(4)</span>本网站上全部内容，包括且不限于文字、图片、图表、照片、软件、声音、图像，以及广告中的全部内容、本网站以通告形式发出的全部内容、各类订单信息、宣传信息、促销信息、商业信息以及佰万仓合作伙伴信息等等各类信息。所有这些内容均受著作权、商标权、物权及其他知识产权和所有权法律的保护。用户只能在本网站或佰万仓或权利人的授权下才能使用这些内容，而不能擅自对这些内容进行复制、编辑、改编、传播等等，或对内容进行任何形式的权利申请，或创造与内容有关的派生产品等等，不能对这些内容执行任何知识产权权能。同时，这些内容不可以被用于任何可能引起第三方对本网站或佰万仓的服务产生混淆或者贬低的商品或者服务上。<span><br />
(5)</span>未经本网站或佰万仓书面同意，用户不得用任何方式对本网站内容进行修改，也不得复制、下载本网站网页内容、数据、信息进行转售或商业利用。用户被授予有限的、可撤销的和非独家的权利建立连接到本网站或佰万仓主页的超链接，只要这个链接不以虚假、误导、贬低或其他方式侵害本网站或佰万仓的商品和服务。<span><br />
(6)</span>对于用户发布和保存在本网站上的内容，用户授予本网站及佰万仓及其关联公司独家的、全球通用的、永久的、免费的许可使用权利<span>(</span>并有权在多个层面对该权利进行再授权<span>)</span>。此外，本网站及佰万仓及其关联公司有权<span>(</span>全部或部份地<span>)</span>使用、复制、修订、改写、发布、翻译、分发、执行和展示用户的全部资料数据<span>(</span>包括且不限于注册资料、交易行为数据及全部展示于本网站的各类信息<span>)</span>或制作其派生作品，并以现在已知或日后开发的任何形式、媒体或技术，将上述信息纳入其它作品内。用户进一步确认，本网站或佰万仓对其内容的使用是基于用户对内容的合法性、合规性及权属做出的承诺和保证，本网站或佰万仓的使用不意味着本网站或佰万仓认可用户的观点或承诺对该内容承担任何责任，无论本网站或佰万仓是否对用户发布和保存的内容进行使用，用户均应独立的、完全的对其内容负责。若本网站或佰万仓因对内容的使用而遭受任何争议、索赔、指控，作为内容提供方的用户应对此承担全部责任，并赔偿本网站及佰万仓因此遭受的损失。<span><br />
(7)</span>佰万仓是本网站的制作者，拥有本网站内容及资源的著作权等合法权利，受国家法律保护，佰万仓有权不时地对本协议及本网站的内容进行修改，并在本网站张贴，无须另行通知用户。在法律允许的最大限度范围内，佰万仓对本协议及本网站的任何内容拥有解释权。<span><br />
<br />
</span><b>第<span>10</span>条 服务的中断</b><span><br />
<br />
(1)</span>用户应谅解并不追究本网站或佰万仓由于发生地震、台风、水灾、火灾等等自然灾害，战争、罢工、法令政策变动等等社会现象，本网站或佰万仓在经营中无法控制的任何因素，以及本网站或佰万仓的供应商原因、产品的性质、外加工方、其他第三方、产品的生产方原因等等所导致的相关服务不能按约定履行或无法履行或迟延履行以及其他不可预见或对其发生后果不能防止或不可避免的事由而引起的相关服务不能按约定履行或无法履行或迟延履行。<span><br />
(2)</span>相关订购或服务可能因本协议规定的各项中断的情况以及本网站或佰万仓认为有必要进行中断的其他情况而中断，用户对此完全明白并予以理解和接受。<span><br />
<br />
</span><b>第<span>11</span>条 附则</b><span><br />
<br />
(1) </span>本网站及本协议对所有用户具有同等效力。用户应在充分理解本协议的基础上使用本网站，用户与本网站或佰万仓签订合同<span>(</span>不论合同的格式或内容由哪一方提供，也不论合同的内容如何<span>)</span>，视为用户已经接受并承诺遵守本协议。<span><br />
(2)</span>本网站或佰万仓可以对本网站上发布的信息及产品进行变更、修改以及停止办理<span>(</span>下称“产品调整”<span>)</span>，本网站或佰万仓可以对本协议进行重订、变更以及修改<span>(</span>下称“本协议修订”<span>)</span>，本网站或佰万仓将根据具体情况进行产品调整、本协议修订的信息公布。在产品调整或者本协议修订之后，用户订购产品时及用户与佰万仓签订合同<span>(</span>不论合同的格式或内容由哪一方提供，也不论合同的内容如何<span>)</span>，均视为用户已经接受产品调整以及本协议修订并承诺遵守。<span><br />
(3)</span>用户若反对任何的本协议修订或产品调整，或有异议，或对本网站或佰万仓服务不满，用户享有以下权利：<span><br />
a) </span>不再使用本网站和<span>/</span>或佰万仓的服务；<span><br />
b) </span>自行注销账户，或以其他被许可的方式结束其使用本网站和<span>/</span>或佰万仓服务的资格；<span><br />
c) </span>书面通知本网站和<span>/</span>或佰万仓停止对其的服务。<span><br />
</span>结束用户服务后，用户使用本网站或佰万仓服务的权利马上终止。<span><br />
(4)</span>用户接受，本网站或佰万仓为了保障业务发展和调整的自主权，拥有随时修改或中断服务而不需通知用户的权利，本网站或佰万仓行使修改或中断服务的权利不需对用户或任何第三方负责。用户必须在同意本协议的前提下，本网站或佰万仓才开始对用户提供服务。<span><br />
(5)</span>本协议各条款的标题仅为方便而设，不影响标题下属条款的理解与解释。所有交易适用中华人民共和国的法律。<span><br />
(6)</span>本协议的解除、终止、被撤销或者本协议全部或部分条款的无效均不影响本合同关于合同的解释、违约及赔偿责任、保密责任、法律适用、权利保留及争议解决等相关约定的效力。本协议的部分条款如应法律的原因而无效的，并不影响其他条款的效力，其他条款继续有效。<span><br />
(7)</span>任何一方未主张本协议中的一项权利或者未坚持一项条款或继续履行合同的行为，不构成放弃任何权利或容许任何一方对任何条款或条件的违反，所有放弃应书面做出。<span><br />
(8)</span>非经本网站及佰万仓另行以独立的书面形式做出同意的意思表示外，对本网站、本协议的任何条款的任何修改或删除以及与本网站、本协议不一致的内容均对本网站或佰万仓不具有任何约束力；并且，除非经本网站及佰万仓另行以独立的书面形式做出同意的意思表示外，即使本网站或佰万仓签署了与本网站或本协议内容不一致的书面合同、协议、订单等等任何形式的书面材料，任何对本网站或本协议内容的修改或删除以及与本网站、本协议不一致的内容也都不能对本网站或佰万仓具有任何法律效力。<span><br />
(9)</span>用户自本网站或佰万仓购买的任何产品及相关服务即使未列在本网站或本协议中本协议同样适用。另外，关于相关服务的具体情况，本网站或佰万仓可以另行制定相关规定，用户亦应遵照相关规定利用。<span><br />
(10)</span>用户利用本网站进行订购或使用相关服务的行为，均视为用户同意本协议，将本协议作为合同的一部分予以适用，用户愿意遵守本协议的各项条款。<span><br />
(11)</span>本协议自用户注册成为本网站用户时起对用户产生法律约束力，且持续有效。<span>(</span>完<span>)</span></span>
    </p>
    <p class="m-p-bottom">

    </p>
</div>
    @@include('../../include/common/footer.html')
</body>
</html>