<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>活动中心</title>
    <meta name="description" content=""> @@include('../common/meta.html')
</head>

<body>
    <div class="event">
        <div class="text-center" style="margin-top: 150px;">
            <img class="no-data-img" src="/images/event/no_data.png" alt="暂无活动" />
            <p style="color: #828282">暂无活动</p>
        </div>
        <!-- <article class="weui_article">
            <section class="event-item">
                <figure>
                    <img class="event-img" src="/images/about_us.jpg" alt="">
                    <figcaption class="event-text">
                        标题
                    </figcaption>
                </figure>
            </section>
        </article>
        <article class="weui_article">
            <section class="event-item">
                <figure>
                    <img class="event-img" src="/images/about_us.jpg" alt="">
                    <figcaption class="event-text">
                        标题
                    </figcaption>
                </figure>
            </section>
        </article>
 -->
    </div>
    @@include('../common/footer.html')
</body>

</html>
