@import "../../common/common";

.m-checkbox .m-checkbox-check {
    vertical-align: middle;
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: -1px;
    left: -2px;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: -1;
}

.m-checkbox .m-checkbox-icon {
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    margin-top: 0px;
    margin-right: 3px;
    background-image: url(/images/common/common_checked.gif);
    background-repeat: no-repeat;
    background-position: center center;
}

.m-checkbox .m-checkbox-icon-checked {
    background-image: url(/images/common/common_checked_true.gif);
    background-repeat: no-repeat;
    background-position: center center;
}
.goods-del {
    height: 32px;
    width: 32px;
    background-image: url(/images/order/goods-del0.jpg);
    cursor: pointer;
}

.goods-del:hover {
    height: 32px;
    width: 32px;
    background-image: url(/images/order/goods-del1.jpg);
}

.goods-table {
    width: 100%;
    th {
        height: 30px;
        text-align: center;
        color: #585858;
        font-size: 12px;
        font-weight: bold;
    }

    tr {
        border: 1px solid #dad6d4;
        margin-top: 1px;
        position: relative;
    }

    .tr-active {
        background-color: #f7eee2;
    }

    tr:hover .table-link {
        color: #e83637;
    }

    td {
        position: relative;
        text-align: center;
        color: #585858;
        line-height: 1.7222;
    }

    .td-active {
        background-color: #f7eee2;
    }

    .goods-table-top {
        border: 0;
        border: 1px solid #dad6d4;
        :hover {
            border: 0;
        }
    }

    .goods-table-row {
        height: 70px;
        line-height: 70px;
    }

    input{
        height:24px;
        line-height:24px;
        width:80%;
        margin:0px auto;
        text-align:center;
    }

    select {
        height: 34px;
        width: 150px;
        border: 1px solid #ddd;
    }
    
    .oni-dropdown {
        width: 100px !important;
    }
}

#processDialogId, #batchProcessDialogId{
    height:600px;
    overflow:auto;
    margin-top:15px;

    .table-submit{
        height:40px;
    }

    .detail-condition{
        float: left;
        line-height: 32px;
        width:200px;
        input{
            height: 24px;  
            width: 160px;
            border: 1px solid #ddd;
            padding-left: 5px;
        }
    }

    .batch-condition{
        float: left;
        line-height: 32px;
        width:800px;
        margin-bottom: 10px;
        input{
            height: 24px;  
            width: 160px;
            border: 1px solid #ddd;
            padding-left: 5px;
        }

        select {
            height: 34px;
            width: 150px;
            border: 1px solid #ddd;
        }
    }

    .red_btn {
        height: 34px;
        line-height: 34px;
        width: 150px;
        background-color: #f20033;
        border: 0px;
        color: white;
        outline: none;
        font-family: "Microsoft YaHei";
    }

    .oni-dropdown-input {
        text-align: left;
    }
}

.oni-dialog-footer{
    display: none;
}