<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>补充发票信息</title>
    @@include('../../include/common/meta.html') @@include('../../include/common/common-include.html')
    <link rel="stylesheet" href="/styles/module/order/order-three.css" />
    <script src="/scripts/module/order/page-three.js"></script>
</head>

<body ms-controller="orderThreeCtrl">
    @@include('../../include/common/header.html')
    <div class="gs-header">
        @@include('../../include/common/account-head.html')
    </div>
    <div class="g-content">
        @@include('../../../partials/order/success.html')
    </div>
    @@include('../../include/common/footer.html')
    </script>
</body>

</html>
