<div class="left-nav">
    <div class="header f-fl">
        <a href="/" class="avatar f-ib">
            <img src="/images/common/tx.png" alt="">
        </a>
        <span class="text f-ib">个人中心</span>
        <span class="text f-ib"></span>
    </div>
    <div>
        <ul>
            <li>
                <a ms-class="active:currentNavInfo=='index'" class="trans_link_3 textfile"
                   href="/">需求单管理</a>
            </li>
             <li>
                <a ms-class="active:currentNavInfo=='work'" class="trans_link_3 computer"
                   href="/work/work.html">工作池</a>
            </li>
            <li>
                <a ms-class="active:currentNavInfo=='panel'" class="trans_link_3 computer"
                   href="/panel/panel.html">我的面板</a>
            </li>
            <li>
                <a ms-class="active:currentNavInfo=='vendor'" class="trans_link_3 shop"
                   href="/vendor/vendorlist.html">卖家管理</a>
            </li>
            <li class="clear"></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
