<script type="text/javascript" src="/bower_components/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/lib/oniui/avalon.js"></script> 
<script type="text/javascript" src="/scripts/module/common/common.js"></script> 
<script type="text/javascript" src="/scripts/module/common/utils.js"></script>
<script type="text/javascript" src="/bower_components/base64/base64.js"></script>
<script type="text/javascript" src="/scripts/plugin/cookie/jquery.cookie.js"></script>
<script type="text/javascript" src="/scripts/plugin/base64/jquery.base64.js"></script>
<script type="text/javascript" src="/scripts/module/common/url.js"></script>
<script type="text/javascript" src="/scripts/module/common/storage.js"></script>
<script type="text/javascript" src="/scripts/module/common/js-url.js"></script>
<script type="text/javascript" src="/scripts/module/common/api.js"></script>
<script type="text/javascript" src="/scripts/module/common/io.js"></script> 
<script type="text/javascript" src="/scripts/module/common/avalon.cust.filters.js"></script>
<script type="text/javascript" src="/scripts/module/account/account-head.js"></script>