<!DOCTYPE html>
<html> 
<head lang="en">
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <title>换货-申请</title>
    @@include('../../include/common/meta.html')
    @@include('../../include/common/common-include.html')
    <link rel="stylesheet" type="text/css" href="/styles/module/afs/return-detail-03.css"> 
    <link rel="stylesheet" type="text/css" href="/styles/module/afs/log-template.css"> 
    <script src="/scripts/plugin/uploadifive/jquery.uploadify.min.js"></script> 
    <script src="/scripts/plugin/uploadifive/jquery.uploadifive.min.js"></script> 
    <script src="/scripts/module/common/upload-button.js"></script> 
    <link rel="stylesheet" type="text/css" href="/styles/common/upload_button.css"/>  
    <script src="/scripts/module/afs/return-detail-03.js"></script>
</head>

<body>
    @@include('../../include/common/header.html')
    <div class="my-header">
        @@include('../../include/common/account-head.html')
    </div> 
     <!--主要内容-->
    <div class="g-content g-clearfix"  ms-controller="returnDetailCtrl03">
        <div class="return-progress-panel">
            <div class="progess-node progess-node-fist">
                <div class="progress-image ">
                    <div  ms-attr-class="currentProgress>=1?'progress-round-enable':'progress-round-disable'"><div class="round-text">1</div></div>
                    <div ms-attr-class="currentProgress>=1?'progress-line-enable-right process-line':'progress-line-disable-right process-line' " ></div>
                </div>
                <div class="progress-text progress-text-enable">买家申请换货</div>
            </div>
              <div class="process-block" ms-if="blockProgress == 1">
                <div class="block-icon"></div>
            </div>
           <div class="progess-node">
                <div class="progress-image ">
                     <div ms-attr-class=" currentProgress>=2 ? 'progress-line-enable-left process-line':'progress-line-disable-left process-line'"></div>
                    <div  ms-attr-class="currentProgress>=2?'progress-round-enable':'progress-round-disable'"><div class="round-text">2</div></div>
                    <div  ms-attr-class="currentProgress>=2?'progress-line-enable-right process-line':'progress-line-disable-right process-line' "></div>
                </div>
                <div ms-attr-class="currentProgress>=2?'progress-text progress-text-enable' :'progress-text progress-text-disable'">申请达成<br/>等待买家发货</div>
            </div>
              <div class="process-block" ms-if="blockProgress == 2">
                <div class="block-icon"></div>
            </div>
            <div class="progess-node">
                <div class="progress-image ">
                     <div ms-attr-class=" currentProgress>=3 ? 'progress-line-enable-left process-line':'progress-line-disable-left process-line'"></div>
                    <div  ms-attr-class="currentProgress>=3?'progress-round-enable':'progress-round-disable'"><div class="round-text">3</div></div>
                    <div  ms-attr-class="currentProgress>=3?'progress-line-enable-right process-line':'progress-line-disable-right process-line' "></div>
                </div>
                <div ms-attr-class="currentProgress>=3?'progress-text progress-text-enable' :'progress-text progress-text-disable'">买家已寄回<br/>等待卖家确认收货</div>
            </div>
              <div class="process-block" ms-if="blockProgress == 3">
                <div class="block-icon"></div>
            </div>
            <div class="progess-node">
                <div class="progress-image ">
                     <div ms-attr-class=" currentProgress>=4 ? 'progress-line-enable-left process-line':'progress-line-disable-left process-line'"></div>
                    <div  ms-attr-class="currentProgress>=4?'progress-round-enable':'progress-round-disable'"><div class="round-text">4</div></div>
                    <div  ms-attr-class="currentProgress>=4?'progress-line-enable-right process-line':'progress-line-disable-right process-line' "></div>
                </div>
                <div ms-attr-class="currentProgress>=4?'progress-text progress-text-enable' :'progress-text progress-text-disable'">卖家已收货<br/>等待卖家实物审核</div>
            </div>
              <div class="process-block" ms-if="blockProgress == 4">
                <div class="block-icon"></div>
            </div>
            <div class="progess-node">
                <div class="progress-image ">
                     <div ms-attr-class=" currentProgress>=5 ? 'progress-line-enable-left process-line':'progress-line-disable-left process-line'"></div>
                    <div  ms-attr-class="currentProgress>=5?'progress-round-enable':'progress-round-disable'"><div class="round-text">5</div></div>
                    <div  ms-attr-class="currentProgress>=5?'progress-line-enable-right process-line':'progress-line-disable-right process-line' "></div>
                </div>
                <div ms-attr-class="currentProgress>=5?'progress-text progress-text-enable' :'progress-text progress-text-disable'">换货已达成<br/>等待卖家发货</div>
            </div>
              <div class="process-block" ms-if="blockProgress == 5">
                <div class="block-icon"></div>
            </div>
            <div class="progess-node">
                <div class="progress-image ">
                     <div ms-attr-class=" currentProgress>=6 ? 'progress-line-enable-left process-line':'progress-line-disable-left process-line'"></div>
                    <div  ms-attr-class="currentProgress>=6?'progress-round-enable':'progress-round-disable'"><div class="round-text">6</div></div>
                    <div  ms-attr-class="currentProgress>=6?'progress-line-enable-right process-line':'progress-line-disable-right process-line' "></div>
                </div>
                <div ms-attr-class="currentProgress>=6?'progress-text progress-text-enable' :'progress-text progress-text-disable'">卖家已发货<br/>等待买家确认收货</div>
            </div>
              <div class="process-block" ms-if="blockProgress == 6">
                <div class="block-icon"></div>
            </div>
             <div class="progess-node">
                <div class="progress-image ">
                     <div ms-attr-class=" currentProgress>=7 ? 'progress-line-enable-left process-line':'progress-line-disable-left process-line'"></div>
                    <div  ms-attr-class="currentProgress>=7?'progress-round-enable':'progress-round-disable'"><div class="round-text">7</div></div> 
                </div>
                <div ms-attr-class="currentProgress>=7?'progress-text progress-text-enable' :'progress-text progress-text-disable'">已完成</div>
            </div>
        </div>
      <!--header -->
       <div class="return-detail-content"> 
            <div class="process-status-panel">
              <div class="process-status-text"><span ms-text="currentAction.orderAfterStatusName"></span>达成时间：<span ms-text="currentAction.createTime"></span> 
                    <button type="button" ms-if="currentAction.orderAfterStatus==1 && blockProgress <= 0 " ms-click="confirmShipping()">确认发货</button>
                    <button type="button" ms-if="currentAction.orderAfterStatus==7 && blockProgress <= 0 " ms-click="confirmRecive()">确认收货</button>
                    <button type="button" ms-if="blockProgress > 0 " ms-click="alertPlatorm()">要求平台介入</button>
                </div> 
            </div>
            <div class="return-detail-panel">
                <div class="return-base-panel">
                    <div class="return-detail-row">
                        <div class="lable-text"><label>售后类型</label></div>
                        <select id="returnType" name="returnType" ms-change="goReturnApply()"  ms-attr-disabled="editModel != 2">
                            <option ms-repeat="returnTypes" ms-attr-selected="currentType==el.type?true:false" ms-attr-value="el.type" ms-text="el.name"></option>
                        </select>
                     </div> 
                    <div class="return-detail-row">
                        <div class="lable-textarea-text"> <label >说明</label></div>
                        <textarea id="reason" name="reason" ms-attr-disabled="editModel != 2" ></textarea>
                     </div>
                    <div class="return-detail-row">
                         <div class="lable-text"><label>买家举证</label></div>
                        <button  type="button" id="fileUploadBtn" ms-if="editModel == 2">选择凭证图片</button>
                        <div id="fileQueue"></div>
                        <div class="uploaded-image-panel">
                            <div class="upload-image-col" ms-repeat="uploadImagesList" >
                                <div class="image-action-panel" ms-if="editModel == 2">
                                  <div class="image-big-btn" ms-click="viewBigImage(el.resources)">放大</div>
                                  <div class="image-delete-btn" ms-click="deleteImage(el.resourcesId)">删除</div>
                                </div>
                                 <div class="image-action-panel" ms-if="editModel != 2">
                                  <div class="image-big-btn" style="width:110px; border-left: none;text-align: center;" ms-click="viewBigImage(el.resources)">放大</div> 
                                </div>
                                <div class="image-div">
                                    <img ms-attr-src="el.resources" />
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
                
            </div>
            <div class="return-order-panel">
                <div class="order-title">订单信息</div>
               <div class="order-info"> 
                     <div class="title" style="width:90px">售后编号:</div><div ms-text="orderInfo.shopName"></div>  
                    <div class="title" style="width:90px">申请时间:</div><div ms-text="detailInfo.createTime"></div>     
                    <div class="title" style="width:90px">订单编号:</div><div><a target="_blank"  ms-href="'/order/detail.html?orderSn='+orderInfo.orderSn" class="order-link" ms-text="orderInfo.orderSn" ></a></div>
                    <div class="title" style="width:90px">订单金额(元):</div><div class="money" ms-html="formatPrice(orderInfo.amountPaid  )"></div>
                    <div class="title" style="width:90px">卖家:</div><div ms-text="orderInfo.shopName  "></div>  
                </div> 
                <div class="link" ms-mouseover="showShopInfo(this)" ms-mouseleave="hideShopInfo(this)"><i class="link-icon"></i>联系卖家</div>
                  <div class="odgo-changetips">
                    <p ms-html="'联系人：'+orderInfo.sellerName+'<br/>联系电话：'+orderInfo.sellerPhone"> </p> 
                </div>
            </div> 
            <div class="module-header" >
                <span class="module-title">退回物流信息</span>
                <span  ms-if="detailInfo.freightAssumeType == 0 && detailInfo.salerConsignee">(买家承担运费)</span>
                 <span ms-if="detailInfo.freightAssumeType == 1 && detailInfo.salerConsignee">(卖家承担运费)</span>
            </div> 
            <div class="return-shipping-panel">
             <div class="return-detail-row">
                 <div class="lable-text"><label>收货人</label></div>
                  <input type="text" id="salerConsignee" name="salerConsignee" disabled /> 
             </div>
               <div class="return-detail-row">
                 <div class="lable-text"><label>收货人电话</label></div>
                  <input type="text" id="salerPhone" name="salerPhone"  disabled/> 
             </div>
             <div class="return-detail-row" style="float: left;">
                <div class="lable-text"><label>物流公司</label></div> 
                <div class="m-tabselect m-tabselect-half  f-fl"  style="width: 300px;"  ms-if="editModel != 1">
                  <input class="m-tabselect-block"  style="width: 300px;" ms-click="shippingCropClick()" id="returnLogisticCorp" name="returnLogisticCorp" ms-attr-value="detailInfo.returnLogisticCorp" ms-attr-disabled="editModel == 1"/> 
                    <div class="m-tabselect-arrow"></div>
                    <div class="m-tabselect-body">
                        <div class="m-tabselect-item-none" ms-click="selectShippingCrop(el.name)"
                             ms-repeat="returnLogisticCorpList" ms-if="returnLogisticCorpList.length>0">{{el.name}}
                        </div>
                    </div> 
                </div> 
                 <span ms-text="detailInfo.returnLogisticCorp" class="readonly-text"  ms-if="editModel == 1"></span>
             </div>
             <div class="return-detail-row" style="float: left;    clear: none;">
                 <div class="lable-text"><label>物流公司备注</label></div>
                  <input type="text" id="returnLogisticMemo" name="returnLogisticMemo"  ms-attr-disabled="editModel == 1"/> 
             </div>
             <div class="return-detail-row">
                 <div class="lable-text"><label>发货单号</label></div>
                  <input type="text" id="returnLogisticId" name="returnLogisticId"  ms-attr-disabled="editModel == 1"/> 
             </div>

             <div class="return-detail-row">
                 <div class="lable-text" style="margin-top:0px;"><label>卖家收货地址</label></div>
                  <div  class="show-text" style="margin-left:10px;" ><label ms-if="detailInfo.salerDistrictName" ms-text="detailInfo.salerProvinceName+detailInfo.salerCityName+detailInfo.salerDistrictName+detailInfo.salerAddress"></label></div>
             </div>
          </div>
             <div class="module-header" >
                <span class="module-title">重寄物流信息</span>
            </div> 
             <div class="return-shipping-panel">
                     <div class="return-detail-row">
                         <div class="lable-text"><label>联系人姓名</label></div>
                          <input type="text" id="buyerConsignee" name="buyerConsignee" ms-attr-disabled="editModel != 2"/> 
                     </div>
                     <div class="return-detail-row">
                         <div class="lable-text"><label>联系人电话</label></div>
                          <input type="text" id="buyerPhone" name="buyerPhone" ms-attr-disabled="editModel != 2"/> 
                     </div>

                       <div class="return-detail-row">
                        <div class="lable-text"><label>物流公司</label></div> 
                           <input id="reDeliverLogisticCorp" name="reDeliverLogisticCorp" disabled /> 
                     </div>
                      <div class="return-detail-row">
                         <div class="lable-text"><label>发货单号</label></div>
                          <input type="text" id="reDeliverLogisticId" name="reDeliverLogisticId" disabled/> 
                     </div> 
                     <div class="return-detail-row">
                         <div class="lable-text"><label>期望收货地址</label></div>
                          <div class="m-tabselect m-tabselect-half  f-fl " ms-if="editModel == 2">
                                <div class="m-tabselect-block" ms-text="province" ms-click="areaclick()"></div>
                                <div class="m-tabselect-arrow"></div>
                                <div class="m-tabselect-body">
                                    <div class="m-tabselect-item-none" ms-click="selectProvince(el.name)"
                                         ms-repeat="provinceData" ms-if="provinceData.length>0">{{el.name}}
                                    </div>
                                </div>
                            </div>
                            <div style="margin-left: 12px;" class="m-tabselect m-tabselect-half f-fl" ms-if="editModel == 2">
                                <div class="m-tabselect-block" ms-text="city" ms-click="areaclick()"></div>
                                <div class="m-tabselect-arrow"></div>
                                <div style="margin-left: -148px;" class="m-tabselect-body">
                                    <div class="m-tabselect-item-none" ms-click="selectCity(el.name)"
                                         ms-repeat="cityData" ms-if="cityData.length>0">{{el.name}}
                                    </div>
                                </div>
                            </div>
                             <div class="m-tabselect" ms-if="editModel == 2">
                                <div class="m-tabselect-block" ms-text="county" ms-click="areaclick()"></div>
                                <div class="m-tabselect-arrow"></div>
                                <div class="m-tabselect-body">
                                    <div class="m-tabselect-item-none" ms-click="selectCounty(el.name,el.value)"
                                         ms-repeat="countyData" ms-if="countyData.length>0">{{el.name}}
                                    </div>
                                </div>
                            </div> 
                           <input name="buyerAddress" id="buyerAddress" cols="35" rows="8" ms-if="editModel == 2"/>

                            <span class="readonly-text" ms-text="detailInfo.buyerProvinceName+detailInfo.buyerCityName+detailInfo.buyerDistrictName+detailInfo.buyerAddress" ms-if="detailInfo.buyerProvinceName && editModel != 2"></span> 
                     </div> 

             </div>
           <div class="module-header" >
                <span class="module-title">换货商品</span><button class="goods-pop-btn"  ms-if="editModel == 2" type="button" ms-click="popOrderItems()">选择换货商品</button>
            </div> 
            <div class="return-goods-panel"> 
                   <div class="return-table-panel">
                        <table class="return-table" id="itemsTable">
                            <tbody>
                            <tr> 
                                <th width="5%">品牌</th>
                                <th width="10%">图片</th>
                                <th width="10%">商品型号</th>
                                <th width="10%">商品名称</th>
                                <th width="10%">购买数量</th>
                                <th width="5%">单位</th>
                                <th width="5%">单价(元)</th>
                                <th width="5%">小计(元)</th>
                                  <th width="10%">是否支持退换货</th>
                                <th width="10%">换货数量</th>
                                <th width="10%"  ms-if="editModel == 2">操作</th>
                            </tr>
                                <tr ms-repeat="selectedOrderItems"> 
                                    <td ms-text="el.brandSet">  </td>
                                    <td><img ms-attr-src="el.mainImage" /></td>
                                    <td ms-text="el.skuSnSet"></td>
                                    <td ms-text="el.goodsName"></td>
                                    <td ms-text="el.quantity"></td>
                                    <td ms-text="el.unitName"></td>
                                    <td ms-text="el.price "></td>
                                    <td ms-text="el.totalPrice "></td> 
                                    <td ms-text="el.returnType==1?'是':'否' "  ms-css-color="el.returnType==0?'red':''"></td> 
                                     <td>
                                        <input type="text" name="returnQuantity"
                                        ms-if="editModel == 2"
                                         ms-keyup="returnQuantityCheck(this,el.canReturnQuantity,el.orderItemId)"  >
                                         <span ms-if="editModel != 2" ms-text="el.returnQuantity"></span>
                                     </td> 
                                     <td ms-if="editModel == 2"><a href="javascript:void(0)" ms-click="deleteOrderItem(el.orderItemId)">取消</a></td> 
                                </tr>  
                            </tbody>
                        </table> 
                </div>
            </div>
              <div class="action-panel" ms-if="editModel == 2" style="margin-bottom:20px;">
                <button class="submit" type="button" ms-click="apply()">提交申请</button>
                <button class="cancel" type="button" ms-click="cancelApply()">取消返回</button>
            </div>
             <div class="module-header" >
                <span class="module-title">协商记录</span>
            </div> 
             <div class="return-negotiation-panel">
                <div ms-repeat-item="actionList" class="negotiation-row"  ms-include-src="'log-template.html'" data-include-rendered='render'> </div> 
             </div> 
       </div> 
    </div>
      <div ms-widget="dialog,confirmDialog,$confirmDialogOptions" class="confirmDialog" ms-controller="confirmDialogCtrl">
        <div class="dialog-inner">
             <div class="dialog-header">
                <div class="dialog-title">
                    <div><span>友情提示</span></div>
                </div>    
                <div class="pop-close"> 
                     <div class="icon-close" ms-click="onCancel()"></div>
                </div>
            </div>
            <div class="dialog-alter-info-content">
                <div class="dialog-pay-info-err-str" >
                    {{msg}}
                </div> 
            </div>
            <div class="dialog-action-panel">
                <button class="btn-ok" type="button" ms-click="onOK()">确定</button>
                <button class="btn-cancel" type="button" ms-click="onCancel()">取消</button>
            </div>
        </div>
    </div>
    <div ms-widget="dialog,alertDialog,$alertDialogOptions" class="alertDialog" ms-controller="alertDialogCtrl">
        <div class="dialog-inner">
             <div class="dialog-header">
                <div class="dialog-title">
                    <div><span>友情提示</span></div>
                </div>    
                <div class="pop-close"> 
                     <div class="icon-close" ms-click="closeDialog()"></div>
                </div>
            </div>
            <div class="dialog-alter-info-content"> 
                <div class="dialog-pay-info-err-str" >
                    {{msg}}
                </div> 
            </div>
              <div class="dialog-action-panel">
                <button class="btn-ok" type="button" ms-click="closeDialog()">确定</button> 
            </div>
        </div>
    </div>
    <div ms-widget="dialog,imageDialog,$imageDialogOptions" class="imageDialog" ms-controller="imageDialogCtrl">
        <div class="dialog-inner">
             <div class="dialog-header">
                <div class="dialog-title">
                    <div><span>查看大图</span></div>
                </div>    
                <div class="pop-close"> 
                     <div class="icon-close" ms-click="closeDialog()"></div>
                </div>
            </div>
            <div class="dialog-alter-info-content"> 
                <div class="dialog-pay-info-err-str" style="font-size:24px;overflow: auto;max-height:600px;  text-align: center;">
                  <a ms-attr-href="url" target="_blank"> <img ms-attr-src="url" style="height:550px; "/></a>
                </div> 
            </div>  
        </div>
    </div>
       <div ms-widget="dialog,platormDialog,$platormDialogOptions" class="iplatormDialog" ms-controller="platormDialogCtrl">
        <div class="dialog-inner">
             <div class="dialog-header">
                <div class="dialog-title">
                    <div> 

                    </div>
                </div>    
                <div class="pop-close"> 
                     <div class="icon-close" ms-click="closeDialog()"></div>
                </div>
            </div>
            <div class="dialog-alter-info-content"> 
                <div class="dialog-pay-info-err-str" style="font-size:24px;overflow: auto;max-height:600px;  text-align: center;">
                        <div>请拨打400-021-9898</div>
                        <div style="font-size:14px;margin-top:20px;">佰万仓平台的客服人员会为您解决有纠纷的交易问题</div>
                </div> 
            </div>  
        </div>
    </div>
    <div ms-widget="dialog,orderItemsDialog,$orderItemsDialogOptions" class="orderItemsDialog" ms-controller="orderItemsDialogCtrl">
        <div class="dialog-inner">
            <div class="dialog-pay-info-err">
                <div >
                    <div class="return-table-panel" style="height:500px">
                        <div>   
                            <div class="pop-btn-panel">
                               <button type="button" ms-click="addItems()">添加换货商品</button>
                            </div>
                            <div class="pop-title">
                                <span>选择换货商品</span>
                            </div>
                            <div ms-visible="showWarnging" class="waring-tips">您选择的商品中包含“不可退换货”商品,建议先与卖家联系</div>
                            <div class="pop-close" style="margin-top: 10px;"> 
                                 <div ms-click="closeOderItems()" class="icon-close"></div>
                            </div>
                        </div>
                         <table class="return-table" id="popItemTable">
                            <tbody>
                            <tr>
                                 <th width="5%">
                                    <span class="f-ib m-checkbox-all select-all" ms-click="checkAll" >
                                      <input class="m-checkbox-all-check" type="checkbox"   ms-duplex-checked="select_all" />
                                      <strong ms-attr-class="select_all?'m-checkbox-all-icon  m-checkbox-all-icon-checked':'m-checkbox-all-icon'"></strong> 
                                  </span> 
                                </th>
                                <th width="10%">品牌</th>
                                <th width="15%">图片</th>
                                <th width="10%">商品型号</th>
                                <th width="15%">商品名称</th>
                                <th width="8%">购买数量</th>
                                <th width="8%">可退数量</th>
                                <th width="8%">单位</th>
                                <th width="8%">单价(元)</th>
                                <th width="8%">小计(元)</th>
                                <th width="10%">是否支持退换货</th>
                            </tr>
                                <tr ms-repeat="orderItems">
                                    <td> 
                                      <span class="f-ib m-checkbox checkbox-fix"  ms-click="onCheckBoxSelected()" >
                                        <input class="m-checkbox-check" type="checkbox" ms-duplex-checked="el.isSelected" ms-attr-value='el.id'  />
                                        <strong ms-attr-class="el.isSelected?'m-checkbox-icon select-order-tr m-checkbox-icon-checked':'m-checkbox-icon select-order-tr'"></strong>
                                    </span>
                                    </td>
                                    <td ms-text="el.brandSet">  </td>
                                    <td><img ms-attr-src="el.mainImage" /></td>
                                    <td ms-text="el.skuSnSet"></td>
                                    <td ms-text="el.goodsName"></td>
                                    <td ms-text="el.quantity"></td>
                                     <td ms-text="el.canReturnQuantity"></td>
                                    <td ms-text="el.unitName"></td>
                                    <td ms-text="el.price "></td>
                                    <td ms-text="el.totalPrice "></td>
                                    <td ms-text="el.returnType==1?'是':'否' "  ms-css-color="el.returnType==0?'red':''"></td>  
                                </tr>  
                            </tbody>
                        </table> 
                    </div>
                </div> 
            </div>
        </div>
    </div>
    @@include('../../include/common/footer.html')
</body>

</html>
