<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>关于我们</title>
    @@include('../../include/common/common-include.html')
    <link rel="stylesheet" href="../styles/module/page/static.css"/>   
</head>
<body>  
      @@include('../../include/common/header.html')
<div class="g-wrap">
    <div class="content-head">
        <div class="m-public-logo f-fl">
            <a href="/"></a>
        </div>
        <div class="content-head-text f-fl">
            关于我们
        </div>
        <div class="content-head-call f-fr"></div>
        <div class="clear"></div>
    </div>
</div>
<div class="g-content">
    <div class="content-body-head">关于我们</div>
    <div class="content-body-block">
        <p>
            上海佰万仓网络科技有限公司及佰万仓商城（www.bwcmall.com，）是致力于为工业品行业提供一站式采购的电商平台。依托在工业品行业强大的资源整合能力，结合先进高效的互联网平台模式，佰万仓可以为用户提供正品、低价、全品、便捷的一站式采购服务。        </p>
        <img src="/images/index/banner_index_03.png" alt=""/>
        <span class="content-body-title">正品</span>
        <p>
            佰万仓商城依托在工业用品行业上游资源的整合能力，通过批量采购，为客户提供低价，并有品质保障的商品。
        </p>

        <span class="content-body-title">全品类</span>
        <p>
            提供更多品类工业品，下单便捷。
        </p>

        <span class="content-body-title">开增票</span>
        <p>
            佰万仓商城所有销售商品都为正品行货，并开具正规的增值税发票。
        </p>
        <!-- <span class="content-body-title">Bwc能帮助您达成的目的：</span>
 
        <span class="content-body-title">针对买家：</span>
         
        <p>更精确的选型定位体验；<br>
        询报价时效的提高；<br>
        最大化降低采购成本；<br>
        完全透明化的采购流程信息；<br>
        更高效的物流配送；<br>
        享受全渠道已整合的工业品流通数据。</p><br><br>
         
        <span class="content-body-title">针对合作供应商：</span>
         
        <p>智能进销存；<br>
        实时订单信息共享；<br>
        可视化销售数据分析；<br>
        高自由度合作机制。<br><br>
         
         
        根据我们对工业品采购渠道长期以来的分析，在传统供应链渠道中存在着大量的信息不对称，同时无法完全满足客户选型的问题，我们通过把以往的线性供应链转变成高效畅通的供应网络，为工业品供应渠道提供了史无前例的可见度，帮助您在节省选型、询报价、采购的耗时。<br>
         
        有关Bwc工业品采购解决方案，以及如何帮助您的工业品采购或销售业务等更多情况，请现在就与我们取得联系。</p> -->
    </div>
</div>
    @@include('../../include/common/footer.html')

</body>
</html>