<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>联系我们</title>
    @@include('../../include/common/common-include.html')
    <link rel="stylesheet" href="../styles/module/page/static.css"/>   
</head>
<body>  
      @@include('../../include/common/header.html')
<div class="g-wrap">
    <div class="content-head">
        <div class="m-public-logo f-fl">
            <a href="/"></a>
        </div>
        <div class="content-head-text f-fl">
            联系我们
        </div>
        <div class="content-head-call f-fr"></div>
        <div class="clear"></div>
    </div>
</div>
<div class="g-content">
    <div class="content-body-head">联系我们</div>
    <div class="content-body-block">
        <p>我们非常重视客户的反馈并一直致力于服务质量的不断提高。
        <p>您对佰万仓有任何意见或建议都可以通过以下方式联系我们：</p>
        <p>发送邮件时，请务必留下您的订单号和联系电话，我们会第一时间与您联系。</p>
        
        <p>处理投诉专员将确保所有的投诉和建议被完整记录下来，并在15个工作日内处理完毕且反馈至客户。</p>

        <span class="content-body-title">客服专线：400-021-9898</span>

        <span class="content-body-title">客服邮箱：sh@bwcmall.com</span>

        <span class="content-body-title">工作时间：9:30-18:30（周一至周五）</span>

        <!-- <span class="content-body-title">售前服务：</span>
        <p>如果您想了解询报价、选型、订单流程等信息</p>
        <p>请拨打     400-021-9898</p>
         
        <span class="content-body-title">售后服务：</span>
        <p>如果您想处理退换货等事宜</p>
        <p>请拨打     400-021-9898</p>
         
        <span class="content-body-title">供应商合作服务：</span>
        <p>如果您希望和Bwc进行战略合作或多业务合作</p>
        <p>请拨打     400-021-9898</p>
         
         
        <span class="content-body-title">地址：上海市长宁区通协路258号 尚品都汇 B707</span> -->

    </div>
</div>
    @@include('../../include/common/footer.html')

</body>
</html>