<!DOCTYPE html>
<html>
<head lang="en">
    @@include('../../include/common/common-include.html')
    @@include('../../include/common/meta.html')
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" /> 
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="../styles/module/page/about.css"/>
</head>
<body>
    <div class="about">
        <div class="about-header">
            <div class="about-header-inner">
                <a href="/" class="logo"><img src="/images/about/logo1.png" alt=""></a>
                <div class="about-menu">
                    <ul>
                        <li><a href="/">首&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>
                        <li><a href="/retail.html">终端工厂</a></li>
                        <li><a href="/wholesale.html">服务商</a></li>
                        <li><a href="/supplier.html">供应商</a></li>
                        <li class="cur-menu"><a href="/about/event-chronicle.html">发展经历</a></li>
                        <li><a href="/about/industry-status.html">行业现状</a></li>
                        <li><a href="/about/contact.html">联系我们</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div class="about-header-phone">
                <a href="/" class="logo-phone"><img src="/images/about/logo1.png" alt=""></a>
                <span class="menu-phone-icon"></span>
                <div class="clear"></div>
                <div class="menu-phone">
                    <ul>
                        <li><a href="/">首&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>
                        <li><a href="/retail.html">终端工厂</a></li>
                        <li><a href="/wholesale.html">服务商</a></li>
                        <li><a href="/supplier.html">供应商</a></li>
                        <li><a href="/about/event-chronicle.html">发展经历</a></li>
                        <li><a href="/about/industry-status.html">行业现状</a></li>
                        <li><a href="/about/contact.html">联系我们</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="about-top about-pic">
            <img src="/images/about/about05.jpg" alt="" class="top-big-img">
            <img src="/images/about/about06.jpg" alt="" class="top-small-img">
        </div>
        <div class="process">
            <div class="process-line">
                <div class="process-each process-1">
                    <p class="process-p1">佰万仓成立</p>
                    <p class="process-p2">2015年7月</p>
                    <i class="process-icon"></i>
                </div>
                <div class="process-each process-2">
                    <i class="process-icon"></i>
                    <p class="process-p1">自营平台上线</p>
                    <p class="process-p2">2015年10月</p>
                </div>
                <div class="process-each process-3">
                    <p class="process-p1">获得STANLEY授权</p>
                    <p class="process-p2">2016年1月</p>
                    <i class="process-icon"></i>
                </div>
                <div class="process-each process-4">
                    <i class="process-icon"></i>
                    <p class="process-p1">新平台上线</p>
                    <p class="process-p2">2016年7月</p>
                </div>
            </div>
        </div>
        <div class="vision">
            <div class="three-common">
                <div class="three-title">公司愿景</div>
                <div class="three-con">
                    <ul>
                        <li>
                            <div class="value-each">
                                <img src="/images/about/icon_11.png" alt="">
                                <p class="value-p2">成为全球工业品交易额最大的平台</p>
                            </div>
                        </li>
                        <li>
                            <div class="value-each">
                                <img src="/images/about/icon_10.png" alt="">
                                <p class="value-p2">成为全球十大互联网企业</p>
                            </div>
                        </li>
                        <li>
                            <div class="value-each">
                                <img src="/images/about/icon_12.png" alt="">
                                <p class="value-p2">成为对全球工业制造效率提升贡献最大的企业</p>
                            </div>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    @@include('../../include/common/footer-new.html')
</body>
</html>
