@charset "UTF-8";

@import "register";

%form-control {
    width: 420px;
    margin-bottom: 0;
}

.header {
    .right {
        @extend %clearfix;
        position: absolute;
        top: 35px;
        right: 0;
        .btn {
            display: inline-block;
            background-color: #fff;
            text-align: center;
            width:68px;
            height: 30px;
            line-height: 30px;
            border: 1px solid #ddd;
            color: #666;
            font-size: 14px;
            &:hover {
                text-decoration: underline;
            }
            &:last-child {
                margin-left: -1px;
            }
        }
    }
}

.form {
    .input-group {
        @extend %form-control;
    }
    .btn-group {
        @extend %form-control;
        .btn {
            width: 100%;
        }
    }
    .tips {
        width: 420px;
        margin: 0 auto;
        height: 28px;
        line-height: 28px;
        color: #e33333;
        text-align: left;
        text-indent: 0.5em;
    }
}

.flow {
    width: 600px;
}