body{
    background-color: #f9f9f9;
}
.g-wrap{
    width: 1000px;
    margin: 50px auto 30px;
}
.g-content{
    font-family: "Microsoft YaHei";
    width: 1000px;
    margin: 0 auto 80px;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 5px #dedede;
    -moz-box-shadow: 1px 1px 5px #dedede;
    box-shadow: 1px 1px 5px #dedede;
}
.content-header{
    font-size: 18px;
    padding: 25px 0 26px 40px;
    line-height: 1;
    color: #333;
    border-bottom: 1px solid #E4E4E4;
}
.content-form{
    width: 440px;
    margin: 60px auto;
    padding-bottom: 60px;
}
.reset-table{
    width: 100%;
}
.reset-table td{
    font-size: 14px;
    color: #333;
    padding: 4px;
}
.reset-table input{
    width: 278px;
    height: 40px;
    border: 1px solid #e1dfdd;
    text-indent: 16px;
    color: #333;
    outline: none;
    margin-left: 20px;
}
.reset-table input:focus{
    border-color: #e83637;
}
.reset-table .regist-input-code{
    width: 138px;
    height: 40px;
    text-indent: 16px;
    color: #333;
    display: inline-block;
    border: 1px solid #e1dfdd;
    margin-left: 20px;
    outline: none;
}
.regist-code-btn{
    width: 140px;
    margin-left: -4px;
    height: 42px;
    background-color: #e83637;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 42px;
}
.regist-code-btn:hover{
    background-color: #d21011;
}
.reset-table .error-info{
    color: #e83637;
    font-size: 12px;
    padding-left: 26px;
    margin-bottom: 8px;
}
.go-btn{
    width: 280px;
    background-color: #e83637;
    height: 42px;
    line-height: 42px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin-left: 21px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.go-btn:hover{
    background-color: #d21011;
}
.success-btn{
    display: block;
    width: 200px;
    background-color: #e83637;
    height: 38px;
    line-height: 38px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 40px auto;
}
.success-btn:hover{
    background-color: #d21011;
}
.first-step{
    display: block;
}
.second-step{
    display: none;
}
.content-body-success{
    min-height: 300px;
    text-align: center;
}
.content-body-success-span{
    display: block;
    margin-top: 100px;
    font-size: 32px;
    color: #434343;
    font-weight: normal;
    text-align: center;
}
/* head logo start */
.content-head{
    font-size: 24px;
    font-weight: bold;
    color: #504d4c;
    margin-bottom: 12px;
}
.content-head-text{
    height: 62px;
    line-height: 90px;
    font-size: 24px;
    font-weight: bold;
    color: #555;
    border-left: 1px solid #ccc;
    padding-left: 15px;
}
.content-head-call{
    width: 314px;
    height: 62px;
    background-image: url(/images/account/login_kefu.png);
    background-position: center center;
    background-repeat: no-repeat;
}
/* head logo end */