<div class="order-table-wrap">
    <div class="order-table-title">
        <span class="order-table-span f-ib">
                <em>1</em>&nbsp;&nbsp;填写订单
            </span>
        <span class="order-table-span  f-ib">
                <em>2</em>&nbsp;&nbsp;提交订单
            </span>
        <span class="order-table-span-last order-table-span-active f-ib">
                <em>3</em>&nbsp;&nbsp;确认订单
            </span>
    </div>
</div>
<div class="order-block">
    <div class="order-success">
        <div class="order-success-top">订单已生成</div>
        <div class="order-success-bottom">您的订单：<a ms-href="'/order/detail.html?orderSn='+orderSn">{{orderSn}}</a> 已生成，感谢提交订单，我们将及时为您处理！</div>
        <div class="order-success-btn">
            <a href="/wholesale.html" class="order-success-go trans_link_3">再去逛逛</a>
            <a href="/order/list.html" class="order-success-my trans_link_3">我的订单</a>
        </div>
    </div> 
</div>
